<h1>Add Page</h1>
<form method="POST" id="add-form">
<p>Page ID:<br /><input type="text" name="id" size="40" value="{{ id }}" />
<span class="notice" id="id-notice">Your ID must be a lowercase alphanumeric value and can't already exist.</span></p>
<p>Title:<br /><input type="text" name="title" size="40" value="{{ title }}" />
<span class="notice" id="title-notice">You must enter a page title.</span></p>
<p>Layout:<br /><input type="text" name="layout" size="30" value="{{ layout }}" />
<span class="notice" id="layout-notice">The layout you entered doesn't exist.</span></p>
<p>Extra &lt;head&gt; tags:<br /><textarea name="head" cols="75" rows="6">{{ head }}</textarea></p>
<p>Body (HTML): <span class="notice" id="body-notice">You must enter body content.</span><br />
<textarea name="body" cols="75" rows="24">{{ body }}</textarea></p>
<p><input type="submit" value="Add Page" /></p>
</form>

<script src="http://code.jquery.com/jquery-1.5.2.min.js"></script>
<script src="/js/jquery.verify_values.js"></script>
<script>
$(function () {
	$('#add-form').verify_values ({
		handler: 'admin/add',
		callback: function (failed) {
			// highlight the failed elements
			for (var i = 0; i < failed.length; i++) {
				$('#' + failed[i] + '-notice').show ();
			}
		},
		reset: function (fields) {
			for (var i = 0; i < fields.length; i++) {
				$('#' + fields[i] + '-notice').hide ();
			}
		}
	});
	{% foreach failed %}
	$('#{{ loop_value }}-notice').show ();
	{% end %}
});
</script>
