<p class="admin-options">
	<a href="/admin/add"><img src="/css/admin/add.png" title="{"Add Page"}" /></a><a href="/admin/edit?page={{ id }}"><img src="/css/admin/edit.png" title="{"Edit Page"}" /></a><a href="/admin/versions?type=Webpage&id={{ id }}"><img src="/css/admin/versions.png" title="{"Versions"}" /></a><a href="/admin/delete?page={{ id }}" onclick="return confirm ('{"Are you sure you want to delete the current page?"}');"><img src="/css/admin/delete.png" title="{"Delete Page"}" /></a>
</p>

{{ body|none }}
