<p class="admin-options">
	<a href="/admin/add" title="{"Add Page"}" class="editable-add"></a>{% if locked %}<a href="javascript:void(0)" title="{"Editing Locked"}" class="editable-lock"></a>{% else %}<a href="/admin/edit?page={{ id }}" title="{"Edit Page"}" class="editable-edit"></a><a href="/admin/versions?type=Webpage&id={{ id }}" title="{"Versions"}" class="editable-versions"></a><a href="/admin/delete" data-page="{{ id }}" title="{"Delete Page"}" onclick="return $.confirm_and_post (this, '{"Are you sure you want to delete the current page?"}');" class="editable-delete"></a>{% end %}
</p>
