<script id="tpl-grid-row" type="text/html">
	<div class="e-row\{{#if variable}}-variable\{{/if}}\{{#if equal_heights}} e-row-equal\{{/if}}" data-row="\{{row}}">
	\{{#each cols}}
		<div class="e-col-\{{unit}} e-grid-col\{{#if empty}} e-grid-col-empty\{{/if}}" data-id="\{{id}}" data-row="\{{row}}" data-col="\{{col}}">
			\{{{rendered}}}
		</div>
	\{{/each}}
	</div>
</script>

<script id="tpl-grid-icons" type="text/html">
		<span class="fa-stack fa-3x e-col-edit" data-type="html" title="{"Add text"}">
			<i class="fa fa-square-o fa-stack-2x"></i>
			<i class="fa fa-pencil fa-stack-1x"></i>
		</span>
		<span class="fa-stack fa-3x e-col-edit e-col-edit-photo" data-type="photo" title="{"Add photo"}">
			<i class="fa fa-square-o fa-stack-2x"></i>
			<i class="fa fa-picture-o fa-stack-1x"></i>
		</span>
		<br />
		<span class="fa-stack fa-3x e-col-edit e-col-edit-video" data-type="video" title="{"Add YouTube video"}">
			<i class="fa fa-square-o fa-stack-2x"></i>
			<i class="fa fa-youtube-play fa-stack-1x"></i>
		</span>
		<span class="fa-stack fa-3x e-col-edit e-col-edit-embed" data-type="embed" title="{"Add dynamic object"}">
			<i class="fa fa-square-o fa-stack-2x"></i>
			<i class="fa fa-cog fa-stack-1x"></i>
		</span>
</script>

<script id="tpl-grid-add" type="text/html">
	<div class="e-grid-row e-grid-edit \{{css_class}}" data-id=\{{id}}" data-row="\{{row}}">
		<div class="e-row\{{#if variable}}-variable\{{/if}}">
			<div class="e-col-50 e-no-padding e-grid-toggle">
				<a href="#" class="e-toggle-active" data-tab="add-columns">{"Columns"}</a><a href="#" data-tab="add-styles">{"Style"}</a>
			</div>
			<div class="e-col-50 e-no-padding e-grid-right">
				<button class="e-grid-button e-grid-add-row-button">{"Add"}</button>
				&nbsp;
				<a href="#" class="e-grid-link e-grid-cancel-link">{"Cancel"}</a>
			</div>
		</div>
		<div class="e-row\{{#if variable}}-variable\{{/if}} e-grid-tabs">		
			<div class="e-col-100 e-no-padding e-grid-tab e-tab-add-columns">
				<div class="e-grid-options">
					<div class="e-grid-icon e-grid-icon-100 e-grid-icon-highlighted" data-units="100"></div>
					<div class="e-grid-icon e-grid-icon-50-50" data-units="50,50"></div>
					<div class="e-grid-icon e-grid-icon-66-33" data-units="66,33"></div>
					<div class="e-grid-icon e-grid-icon-33-66" data-units="66,33"></div>
					<div class="e-grid-icon e-grid-icon-75-25" data-units="75,25"></div>
					<div class="e-grid-icon e-grid-icon-25-75" data-units="25,75"></div>
					<div class="e-grid-icon e-grid-icon-80-20" data-units="80,20"></div>
					<div class="e-grid-icon e-grid-icon-20-80" data-units="20,80"></div>
					<div class="e-grid-icon e-grid-icon-33-33-33" data-units="33,33,33"></div>
					<div class="e-grid-icon e-grid-icon-25-50-25" data-units="25,50,25"></div>
					<div class="e-grid-icon e-grid-icon-25-25-25-25" data-units="25,25,25,25"></div>
					<div class="e-grid-icon e-grid-icon-20-20-20-20-20" data-units="20,20,20,20,20"></div>
				</div>
			</div>
			<div class="e-col-100 e-no-padding e-grid-tab e-tab-add-styles">
				{"Background color"}:
				<span class="e-grid-select">
					<select class="e-grid-select-style">
					\{{#each styles}}
						<option value="\{{css_class}}">\{{name}}</option>
					\{{/each}}
					</select>
					<i class="fa fa-lg fa-caret-down e-grid-select-arrow"></i>
				</span>
				&nbsp;
				<button class="e-grid-button e-grid-set-bg-button">{"Set background image"}</button>
				&nbsp;
				<a href="#" class="e-grid-link e-grid-clear-bg-link">{"Clear"}</a>
				<br /><br />
				{"Set height"}: <input type="text" class="e-grid-set-height" value="" /> px
				<br /><br />
				<label><input type="checkbox" value="yes" class="e-grid-toggle-equal-heights"> {"Equal column heights"}</label>
				<br /><br />
				<label><input type="checkbox" value="yes" class="e-grid-toggle-fixed"> {"Fixed background position"}</label>
				<br /><br />
				<label><input type="checkbox" value="yes" class="e-grid-toggle-inset"> {"Drop shadow"}</label>
			</div>
		</div>
	</div>
</script>



<script id="tpl-grid-edit" type="text/html">
	<div class="e-grid-row e-grid-edit \{{css_class}}" data-id=\{{id}}" data-row="\{{row}}">
		<div class="e-row\{{#if variable}}-variable\{{/if}}">
			<div class="e-col-50 e-no-padding e-grid-toggle">
				<a href="#" class="e-toggle-active" data-tab="edit-columns">{"Columns"}</a><a href="#" data-tab="edit-styles">{"Style"}</a>
			</div>
			<div class="e-col-50 e-no-padding e-grid-right">
				<button class="e-grid-button e-grid-update-row-button">{"Save"}</button>
				&nbsp;
				<a href="#" class="e-grid-link e-grid-cancel-update-link">{"Cancel"}</a>
			</div>
		</div>
		<div class="e-row\{{#if variable}}-variable\{{/if}} e-grid-tabs">		
			<div class="e-col-100 e-no-padding e-grid-tab e-tab-edit-columns">
				<div class="e-grid-options">
					<div class="e-grid-icon e-grid-icon-100" data-units="100"></div>
					<div class="e-grid-icon e-grid-icon-50-50" data-units="50,50"></div>
					<div class="e-grid-icon e-grid-icon-66-33" data-units="66,33"></div>
					<div class="e-grid-icon e-grid-icon-33-66" data-units="66,33"></div>
					<div class="e-grid-icon e-grid-icon-75-25" data-units="75,25"></div>
					<div class="e-grid-icon e-grid-icon-25-75" data-units="25,75"></div>
					<div class="e-grid-icon e-grid-icon-80-20" data-units="80,20"></div>
					<div class="e-grid-icon e-grid-icon-20-80" data-units="20,80"></div>
					<div class="e-grid-icon e-grid-icon-33-33-33" data-units="33,33,33"></div>
					<div class="e-grid-icon e-grid-icon-25-50-25" data-units="25,50,25"></div>
					<div class="e-grid-icon e-grid-icon-25-25-25-25" data-units="25,25,25,25"></div>
					<div class="e-grid-icon e-grid-icon-20-20-20-20-20" data-units="20,20,20,20,20"></div>
				</div>
			</div>
			<div class="e-col-100 e-no-padding e-grid-tab e-tab-edit-styles">
				{"Background color"}:
				<span class="e-grid-select">
					<select class="e-grid-select-style">
					\{{#each styles}}
						<option value="\{{css_class}}">\{{name}}</option>
					\{{/each}}
					</select>
					<i class="fa fa-lg fa-caret-down e-grid-select-arrow"></i>
				</span>
				&nbsp;
				<button class="e-grid-button e-grid-set-bg-button">{"Set background image"}</button>
				&nbsp;
				<a href="#" class="e-grid-link e-grid-clear-bg-link">{"Clear"}</a>
				<br /><br />
				{"Set height"}: <input type="text" class="e-grid-set-height" value="" /> px
				<br /><br />
				<label><input type="checkbox" value="yes" class="e-grid-toggle-fixed"> {"Fixed background position"}</label>
				<br /><br />
				<label><input type="checkbox" value="yes" class="e-grid-toggle-inset"> {"Drop shadow"}</label>
			</div>
		</div>
	</div>
</script>

<script id="tpl-grid-add-button" type="text/html">
	<div class="e-grid-add-button e-grid-clear">
		<div class="e-row\{{#if variable}}-variable\{{/if}}">
			<div class="e-col-100 e-no-padding">
				<button class="e-grid-button" data-id="\{{id}}"><i class="fa fa-plus"></i> {"Add row"}</button>
			</div>
		</div>
	</div>
</script>

<script>
$(function () {
	$('.e-grid').grid ({
		styles: {{styles|json_encode}},
		api: '{{api}}',
		grid: {{grid|json_encode}},
		i18n: {
			choose_bg: '{"Choose a background image"}'
		}
	});
});
</script>
