<script id="tpl-grid-row" type="text/html">
	<div class="e-grid-row" \{{css_class}}" data-id=\{{id}}" data-row="\{{row}}">
		<div class="e-row\{{#if variable}}-variable\{{/if}}\{{#if fixed}} e-row-fixed\{{/if}}">
		\{{#each cols}}
			<div class="e-col-\{{unit}} e-grid-col">
				\{{content}}
			</div>
		\{{/each}}
		</div>
	</div>
</script>

<script id="tpl-grid-add" type="text/html">
	<div class="e-grid-row \{{css_class}}" data-id=\{{id}}" data-row="\{{row}}">
		<div class="e-row\{{#if variable}}-variable\{{/if}}">
			<div class="e-col-100">
				<b>{"Columns"}:</b>
			</div>
		</div>
		<div class="e-row\{{#if variable}}-variable\{{/if}} e-grid-options">
			<div class="e-grid-icon e-grid-icon-100"></div>
			<div class="e-grid-icon e-grid-icon-50-50"></div>
			<div class="e-grid-icon e-grid-icon-66-33"></div>
			<div class="e-grid-icon e-grid-icon-33-66"></div>
			<div class="e-grid-icon e-grid-icon-75-25"></div>
			<div class="e-grid-icon e-grid-icon-25-75"></div>
			<div class="e-grid-icon e-grid-icon-80-20"></div>
			<div class="e-grid-icon e-grid-icon-20-80"></div>
			<div class="e-grid-icon e-grid-icon-33-33-33"></div>
			<div class="e-grid-icon e-grid-icon-25-50-25"></div>
			<div class="e-grid-icon e-grid-icon-25-25-25-25"></div>
			<div class="e-grid-icon e-grid-icon-20-20-20-20-20"></div>
		</div>
		<div class="e-row\{{#if variable}}-variable\{{/if}}">
			<div class="e-col-30">
				<b>{"Style"}:</b>
				<select class="e-grid-select-style">
				\{{#each styles}}
					<option value="\{{css_class}}">\{{name}}</option>
				\{{/each}}
				</select>
			</div>
			<div class="e-col-25 e-grid-bg-button">
				<button class="e-grid-button">{"Background image"}</button>
			</div>
			<div class="e-col-25">
				<label><input type="checkbox" class="e-grid-equal"> {"Equal height columns"}</label>
			</div>
			<div class="e-col-20" style="text-align: right">
				<a href="#" class="e-grid-cancel-link">{"Cancel"}</a>
			</div>
		</div>
	</div>
</script>

<script id="tpl-grid-add-button" type="text/html">
	<div class="e-grid-add-button">
		<div class="e-row\{{#if variable}}-variable\{{/if}}">
			<div class="e-col-100 e-no-padding">
				<button class="e-grid-button" data-id="\{{id}}"><i class="fa fa-plus"></i> {"Add row"}</button>
			</div>
		</div>
	</div>
</script>

<script>
$(function () {
	$('.e-grid').grid ({
		id: '{{id}}',
		styles: {{styles|json_encode}},
		api: '{{api}}'
	});
});
</script>
