<div id="routes-data">
	<div class="save clickable" onclick="saveRoutes();">Save Routes <i class="fa fa-floppy-o"></i></div><br>
	<section id="routes-alias">
		<header>Aliases (matches from left only)</header>
		<div class="new-entry clickable" onclick="newEntry('alias');">Add Entry</div>
		<ul>{% foreach Alias as match, action %}
			<li data-match="{{match}}" data-action="{{action}}">{{match}}<br>-> {{action}}<div class="actions">
				<i class="fa fa-lg fa-times clickable" title="Remove" onclick="if(confirm('Do you want to remove this route?')){this.parentNode.parentNode.remove();}"></i>
				<i class="fa fa-lg fa-arrow-up clickable" title="Move Up" onclick="moveEntry(this.parentNode.parentNode, 1);"></i>
				<i class="fa fa-lg fa-arrow-down clickable" title="Move Down" onclick="moveEntry(this.parentNode.parentNode, 0);"></i>
			</div></li>{% end %}</ul>
	</section>
	<section id="routes-disable">
		<header>Disabled Routes</header>
		<div class="new-entry clickable" onclick="newEntry('disable');">Add Entry</div>
		<ul>{% foreach Disable as match, action %}
			<li data-match="{{match}}" data-action="{{action}}">{{match}}<br>-> {% if action %}strict match{% else %}loose match{% end %}<div class="actions">
				<i class="fa fa-lg fa-times clickable" title="Remove" onclick="if(confirm('Do you want to remove this route?')){this.parentNode.remove();}"></i>
				<i class="fa fa-lg fa-arrow-up clickable" title="Move Up" onclick="moveEntry(this.parentNode, 'up');"></i>
				<i class="fa fa-lg fa-arrow-down clickable" title="Move Down" onclick="moveEntry(this.parentNode, 'down');"></i>
			</div></li>{% end %}</ul>
	</section>
	<section id="routes-redirect">
		<header>Redirects (matches exact resource only)</header>
		<div class="new-entry clickable" onclick="newEntry('redirect');">Add Entry</div>
		<ul>{% foreach Redirect as match, action %}
			<li data-match="{{match}}" data-action="{{action}}">{{match}}<br>-> {{action}}<div class="actions">
				<i class="fa fa-lg fa-times clickable" title="Remove" onclick="if(confirm('Do you want to remove this route?')){this.parentNode.remove();}"></i>
				<i class="fa fa-lg fa-arrow-up clickable" title="Move Up" onclick="moveEntry(this.parentNode, 'up');"></i>
				<i class="fa fa-lg fa-arrow-down clickable" title="Move Down" onclick="moveEntry(this.parentNode, 'down');"></i>
			</div></li>{% end %}</ul>
	</section>
</div>
<br clear="both" />
