<div class="form">

<form method="post" id="{{_form}}">

<p>
	{"Site name"}:<br />
	<input type="text" name="site_name" size="40" value="{{ site_name|quotes }}" />
	<span class="notice" id="site_name-notice">{"Please enter a name for your website."}</span>
</p>

<p>
	{"Site domain"}:<br />
	<input type="text" name="site_domain" size="40" value="{{ site_domain|quotes }}" />
	<span class="notice" id="site_domain-notice">{"Please enter a domain name for your website."}</span>
</p>

<p>
	{"Email address"}:<br />
	<input type="text" name="email_from" size="40" value="{{ email_from|quotes }}" />
	<span class="notice" id="email_from-notice">{"Please enter a valid email address."}</span>
</p>

<input type="hidden" name="timezone" value="{{ timezone|quotes }}" />
<input type="hidden" name="default_layout" value="{{ default_layout|quotes }}" />

<p>
	{"Google Analytics ID"}:<br />
	<input type="text" name="google_analytics_id" size="40" value="{{ google_analytics_id|quotes }}" />
</p>


<p>
	<input type="submit" value="{"Save Settings"}" />
	&nbsp;
	<a href="/" onclick="return confirm ('{"Are you sure you want to cancel and lose any changes?"}')">{"Cancel"}</a>
</p>

</form>

</div>
