<!--[if IE]>
<style>
body:not(.cursorGrabbing) .treeDragDrop li, .tdd-dragContainer li{
	cursor: url(/apps/admin/js/tree-drag-drop/css/openhand.cur), move;
}
</style>
<![endif]-->
<style>
.trashbin {
	width:48%; 
	float:right;
}

.tree {
	width:48%; 
	float:left;
}

.caption {
	display:block;
	margin-top:10px;
}

.error {
	color:red;
}

.special {
	font-style:italic;
}

</style>

<div class="treeDragDrop">
	<div class="tree">
		<h4> {"Toolbar Tree"}</h4>
		<a class="caption" href="javascript:;" onclick="$.treeDragDrop.handlers.handleOpenModal('section');">{"Add Catagory"}</a>
		<p class="caption">{"Drag resources to the toolbar tree to include them in the toolbar."}</p>
		<ul class="tdd-tree">
		{% if tools|count %}
		{% foreach tools as section, group %}
			<li id="{{ section|str_replace('/','-',%s) }}" class="section" data-section="{{ section }}">[{{ section }}]
				<ul class="tools">
				{% if group|count %}
				{% foreach group as tool %}
					<li id="{{ tool['handler']|str_replace('/','-',%s) }}" 
						class="tool" 
						data-name="{{ tool['name'] }}" 
						data-handler="{{ tool['handler'] }}"
					>
						{{ tool['name'] }} ({{ tool['handler'] }})
					</li>
				{% end %}
				{% end %}
				</ul>
			</li>
		{% end %}
		{% end %}
		{% if autofill %}
			<li id="*" class="special" data-name="{{ autofill }}" data-handler="*">{{ autofill }} (*)</li>
		{% end %}
		</ul>
	</div>	
	<div class="trashbin">
		<h4> {"Unused Resources"}</h4>
		<a class="caption" href="javascript:;" onclick="$.treeDragDrop.handlers.handleOpenModal('tool');">{"Add Resource"}</a>
		<p class="caption">{"Drag resources here to remove them from the toolbar."}</p>
		<ul class="tdd-trashbin">
		{% foreach apps as app %}
			<li id="{{ app['handler']|str_replace('/','-',%s) }}" 
				class="tool" 
				data-name="{{ app['name'] }}" 
				data-handler="{{ app['handler'] }}"
			>
				{{ app['name'] }} ({{ app['handler'] }})
			</li>
		{% end %}
		{% if autofill === false %}
			<li id="*" class="special" data-name="{{ \Appconf::admin('General','autofill_column') }}" data-handler="*">{{ \Appconf::admin('General','autofill_column') }} (*)</li>
		{% end %}
		</ul>
	</div>
</div>
<br clear="both" />
