<!--[if IE]>
<style>
body:not(.cursorGrabbing) .treeDragDrop li, .tdd-dragContainer li{
	cursor: url(/apps/admin/js/tree-drag-drop/css/openhand.cur), move;
}
</style>
<![endif]-->
<style>
.trashbin {
	width:48%; 
	float:right;
}

.tree {
	width:48%; 
	float:left;
}

.caption {
	display:block;
	margin-top:10px;
}

#treeModal {
	display:none;
	position:absolute;
	text-align:center;
	top:250px;
	left:60%;
	border-radius:5px;
	background-color:#eaecee;
	border: 2px solid black;
	padding-top:5px;
	padding-bottom:5px;
	padding-left:10px;
	padding-right:10px;
}

#treeModal .error {
	color:red;
}

</style>

<div class="treeDragDrop">
	<div class="tree">
		<h4> {"Toolbar Tree"}</h4>
		<a class="caption" href="javascript:;" onclick="
			$('#treeModal #add-handler').parent().hide();
			$('#treeModal #add-type')[0].value = 'section';
			$('#treeModal').show();
			$('#treeModal #add-name')[0].focus();
		">{"Click to add a catagory."}</a>
		<p class="caption">{"Drag resources to the toolbar tree to include them in the toolbar."}</p>
		<ul class="tdd-tree">
		{% if tools|count %}
		{% foreach tools as section, group %}
			<li id="{{ section|str_replace('/','-',%s) }}" class="section" data-section="{{ section }}">[{{ section }}]
				<ul class="tools">
				{% if group|count %}
				{% foreach group as tool %}
					<li id="{{ tool['handler']|str_replace('/','-',%s) }}" class="tool" data-name="{{ tool['name'] }}" data-handler="{{ tool['handler'] }}">
						{{ tool['name'] }} ({{ tool['handler'] }})
					</li>
				{% end %}
				{% end %}
				</ul>
			</li>
		{% end %}
		{% end %}
		</ul>
	</div>	
	<div class="trashbin">
		<h4> {"Unused Resources"}</h4>
		<a class="caption" href="javascript:;" onclick="
			$('#treeModal #add-handler').parent().show();
			$('#treeModal #add-type')[0].value = 'tool';
			$('#treeModal').show();
			$('#treeModal #add-name')[0].focus();
		">{"Click to add a resource."}</a>
		<p class="caption">{"Drag resources here to remove them from the toolbar."}</p>
		<ul class="tdd-trashbin">
		{% foreach apps as app %}
			<li id="{{ app['handler']|str_replace('/','-',%s) }}" class="tool" data-name="{{ app['name'] }}" data-handler="{{ app['handler'] }}">
				{{ app['name'] }} ({{ app['handler'] }})
			</li>
		{% end %}
		</ul>
	</div>
</div>
<br clear="both" />

<form id="treeModal" onsubmit="if($.treeDragDrop.handlers.handleAddResource()) { $('#treeModal').hide(); } return false;">
	<input type="hidden" id="add-type" />
	<div>
		<span class="caption error"></span>
		<label for="add-name">Display Text<br><input type="text" id="add-name" /></label><br>
		<label for="add-handler">Resource/Handler<br><input type="text" id="add-handler" /></label><br>
		<input type="submit" value="Add"/>
	</div>
</form>