<script>
$(function () {
	/**
	 * This initializes the Redactor editor with the integration
	 * points/plugins that tie into Elefant's pages, files, and
	 * dynamic objects embedding.
	 */

	$('#{{ field_id }}')
		.removeAttr ('cols')
		.removeAttr ('rows')
		.redactor ({
			lang: '{{i18n.language|none}}',
			plugins: ['dynamic'],
			buttons: [
				'formatting', '|', 'bold', 'italic', 'deleted', '|',
				'alignment', 'horizontalrule', '|', 'unorderedlist', 'orderedlist', 'outdent', 'indent', '|',
				'link', 'image', 'file', 'table', '|',
				'undo', 'html', 'dynamic'
			],
			buttonsCustom: {
				undo: {
					title: '{"Undo"}',
					dropdown: {
						point1: {
							title: '{"Undo"}',
							callback: undo
						},
						point2: {
							title: '{"Redo"}',
							callback: redo
						}
					}
				}
			},
			imageGetJson: '/filemanager/redactor/images',
			imageUpload: '/filemanager/redactor/upload',
			fileUpload: '/filemanager/redactor/upload',
			imageUploadErrorCallback: upload_error,
			fileUploadErrorCallback: upload_error
		});

	function undo (obj, evt, key) {
		obj.execCommand ('undo');
	}

	function redo (obj, evt, key) {
		obj.execCommand ('redo');
	}

	function upload_error (obj, json) {
		console.log (obj);
		console.log (json);
	}

	/*
		initialContent: '<p><br /></p>',
<?php if (file_exists ('js/wysiwyg/i18n/lang.' . $GLOBALS['i18n']->language . '.js')) { ?>
		plugins: {
			i18n: { lang: '{{i18n.language|none}}' }
		},
<?php } ?>
		controls: {
			strikeThrough	:{visible:false},
			justifyFull		:{visible:false},
			paragraph		:{visible:true},
			removeFormat	:{visible:true},
			html			:{visible:true},
			'fileManager': {
				visible: true,
				groupIndex: 12,
				tooltip: '{"File Manager"}',
				exec: function () {
					$.wysiwyg.fileManager.init (function (file) {
						if (file.match (/\.(jpg|png|gif)$/i)) {
							$('#webpage-body').wysiwyg ('insertImage', file);
						} else if (file.match (/\.swf$/i)) {
							$('#webpage-body').wysiwyg ('insertHtml', '<p><span class="embedded" data-embed="filemanager/swf?file=' + file + '" data-label="{"Embedded Flash (SWF)"}" title="{"Click to edit."}"></span></p><p><br /></p>');
						} else if (file.match (/\.mp4$/i)) {
							$('#webpage-body').wysiwyg ('insertHtml', '<p><span class="embedded" data-embed="filemanager/video?file=' + file + '" data-label="{"Embedded Video (MP4)"}" title="{"Click to edit."}"></span></p><p><br /></p>');
						} else if (file.match (/\.mp3$/i)) {
							$('#webpage-body').wysiwyg ('insertHtml', '<p><span class="embedded" data-embed="filemanager/audio?file=' + file + '" data-label="{"Embedded Audio (MP3)"}" title="{"Click to edit."}"></span></p><p><br /></p>');
						} else {
							$('#webpage-body').wysiwyg ('createLink', file);
						}
					});
				}
			},
			'dynamic': {
				visible: true,
				tooltip: '{"Dynamic Objects"}',
				tags: ['span'],
				exec: function () {
					$.wysiwyg.embed.init (this, wysiwyg_embed_update);
				}
			}
		},
		//dialog:'jqueryui',
		css: '/css/wysiwyg/default.css',
		'events': {
			click: function (e) {
				var range;
				
				if ($(e.target).hasClass ('embedded')) {
					
					var body = document.body, range, sel, el = e.target;
					if (document.createRange && window.getSelection) {
						range = document.createRange();
						sel = window.getSelection();
						sel.removeAllRanges();
						try {
							range.selectNodeContents (el);
							sel.addRange (range);
						} catch (e) {
							range.selectNode (el);
							sel.addRange (range);
						}
					} else if (body.createTextRange) {
						range = body.createTextRange ();
						range.moveToElementText (el);
						range.select ();
					}
					
					$.wysiwyg.embed.init ($('#webpage-body').data ('wysiwyg'), wysiwyg_embed_update, e.target);
				}

				try {
					$('form').autosave ();
				} catch (ex) {}
			}
		}
	});
	$.wysiwyg.fileManager.setAjaxHandler ('http://{{ $_SERVER.HTTP_HOST }}/filemanager/embed');

	function wysiwyg_embed_update (existing, embed_code, label) {
		if (! existing) {
			$('#webpage-body').wysiwyg ('insertHtml', '<p><span class="embedded" data-embed="' + embed_code + '" data-label="' + label + '" title="{"Click to edit."}"></span></p><p><br /></p>');
		} else {
			$(existing).replaceWith ('<span class="embedded" data-embed="' + embed_code + '" data-label="' + label + '" title="{"Click to edit."}"></span>');			
		}
	}*/
});
</script>
