body {
	width: 100%;
	padding: 0px;
	margin: 0px;
	background: url(/files/design/bg.png);
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
	font-size: 100%; /* 16px */
	color: #222;
}

h1, h2, h3, h4, h5, h6 {
	color: #666;
}

a {
	color: #E4426B;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

img {
	max-width: 100%;
}

#fb-root {
	display: none;
}

#wrapper {
	margin: 10px 10px 10px 10px;
	padding: 10px 10px 10px 10px;
	background-color: #fff;
	-moz-box-shadow: 0px 0px 4px #aaa;
	-webkit-box-shadow: 0px 0px 4px #aaa;
	box-shadow: 0px 0px 4px #aaa;
}

#head {
	border-bottom: 4px solid #ddd;
	margin-top: 0px;
}

	#head h1 {
		padding-bottom: 0px;
		margin-bottom: 0px;
		margin-top: 0px;
		color: #444;
	}

	#head .menu ul, #head .menu ul li {
		list-style-type: none;
		margin-left: 0px;
		padding-left: 0px;
	}

	#head .menu a {
		font-weight: bold;
	}

#body h2 {
	margin-bottom: 0px;
}

	input[type=text], input[type=email], input[type=password] {
		width: 95%;
	}

	.info {
		color: #777;
		margin-bottom: 0px;
		font-size: 0.8em;
	}

	.blog-tags a {
		margin-right: 4px;
	}

	.fb_iframe_widget iframe {
		width: 100% !important;
	}

#slideshow-nav {
	margin-left: 43% !important;
}

.index-body table td {
	display: block;
	clear: both;
}

#footer {
	border-top: 4px solid #ddd;
	padding-top: 5px;
	margin-bottom: 0px;
	margin-top: 10px;
	padding-bottom: 0px;
	font-size: 0.8em;
}

	#footer .menu {
		display: none;
	}

	.powered {
		text-align: right;
	}
