body {
	margin:0;
	padding:0;
	line-height: 1.4em;
	word-spacing: 1px;
	letter-spacing: 0.2px;
	font: 13px Arial, Helvetica,"Lucida Grande", serif;
	background: #fff;
	color: #000;
}

#wrapper {
	margin:0;
	padding:0;
	background-color: #fff;
	border: 0;
	-moz-box-shadow: 0px 0px 0px 0px #fff;
	-webkit-box-shadow: 0px 0px 0px 0px #fff;
	box-shadow: 0px 0px 0px 0px #fff;
}

#body-wrapper {
	background-color: #FFFFFF;
	border-radius: 0px;
	box-shadow: 0px 0px #FFF;
	margin-top: 0px;
}

#head, #menu, #footer {
	display: none;
}

a:link, a:visited {
	background: transparent; 
	color:#333; 
	text-decoration:none;
}

a:link[href^="http://"]:after, a[href^="http://"]:visited:after {
	content: " (" attr(href) ") ";
	font-size: 11px;
}

a[href^="http://"] {
	color:#000;
}
