body {
	background: url(/files/design/bg.png);
	color: #222;
}

h1, h2, h3, h4, h5, h6 {
	color: #222;
	margin-bottom: 8px;
	font-family: 'Roboto', sans-serif;
	font-weight: 300;
}

p, ul, ol {
	margin-bottom: 8px;
}

h1 { font-size: 32px; }
h2 { font-size: 26px; }
h3 { font-size: 20px; }
h4 { font-size: 16px; }

a {
	color: #1C75BC;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

#fb-root {
	display: none;
}

#wrapper {
	margin: 0px auto 25px auto;
	padding: 20px 15px 0px 15px;
	border-top: 4px solid #1C75BC;
	background-color: #fff;
	-moz-box-shadow: 0px 0px 12px #aaa;
	-webkit-box-shadow: 0px 0px 12px #aaa;
	box-shadow: 0px 0px 12px #aaa;
}

#head {
	border-bottom: 3px solid #ddd;
}

	#head h1 {
		font-family: 'Roboto', sans-serif;
		font-weight: 400;
		padding-bottom: 10px;
		margin-bottom: 0px;
		color: #444;
	}

		#head h1 a {
			color: #444;
		}

		#head h1 a:hover {
			text-decoration: none;
		}

	#head .menu {
		text-align: right;
	}

	#head .menu ul {
		list-style-type: none;
		margin-left: 0px;
		padding-left: 0px;
		margin-top: 15px;
		margin-bottom: 0px;
	}

	#head .menu ul li {
		list-style-type: none;
		margin-left: 0px;
		padding-left: 0px;
		display: inline;
	}

	#head .menu ul li a {
		border-top: 3px solid #ddd;
		padding: 5px 12px 5px 12px;
		text-decoration: none;
	}

	#head .menu ul li.current a {
		border-top: 3px solid #1C75BC;
		text-decoration: none;
	}

	#head .menu ul li a:hover {
		border-top: 3px solid #1C75BC;
		background: #1C75BC;
		color: #fff;
		text-decoration: none;
	}

#body {
	padding-top: 15px;
}

	#body img {
		max-width: 620px;
	}

	.block {
		padding-bottom: 20px;
	}

	.block h3 {
		margin-bottom: 0px;
	}

	.info {
		color: #777;
		margin-bottom: 0px;
	}

	.blog-tags a {
		text-decoration: none;
		color: #999;
		margin-right: 4px;
	}

	.blog-tags a:hover {
		text-decoration: underline;
		color: #777;
	}

	iframe.twitter-share-button {
		margin-bottom: -2px;
	}
	
	#___plusone_0 iframe {
		margin-bottom: -2px;
	}

#body.index-body #slideshow-homepage img {
	max-width: 940px;
	width: 940px;
	min-height:initial;
}

.index-body table td {
	width: 33%;
	border-left: 1px dotted #ddd;
	padding-left: 10px;
}

	.index-body table td:first-child {
		border-left: 0px;
		padding-left: 0px;
	}

#sidebar {
	padding-top: 15px;
	padding-bottom: 15px;
}

	#sidebar img {
		max-width: 300px;
	}

#footer {
	border-top: 3px solid #ddd;
	padding-top: 15px;
	margin-bottom: 0px;
	padding-bottom: 15px;
}

	#footer .menu ul {
		list-style-type: none;
		margin-left: 0px;
		padding-left: 0px;
	}

	#footer .menu ul li {
		list-style-type: none;
		margin-left: 0px;
		padding-left: 0px;
	}

	.powered {
		text-align: right;
	}
