<h1>Edit Page: {{ title }}</h1>
<form method="POST">
<p>Page ID:<br /><strong>{{ id }}</strong></p>
<p>Title:<br /><input type="text" name="title" size="40" value="{{ title }}" /></p>
<p>Template:<br /><input type="text" name="template" size="30" value="{{ template }}" /></p>
<p>Extra &lt;head&gt; tags:<br /><textarea name="head" cols="75" rows="6">{{ head }}</textarea></p>
<p>Body (HTML):<br /><textarea name="body" cols="75" rows="24">{{ body }}</textarea></p>
<p><input type="submit" value="Save Changes" /></p>
</form>
