<h1>Web Pages</h1>
<p><a title="Add Page" href="/admin/add">Add Page</a></p>

<p>
{% foreach pages %}
	<a title="Delete Page {{ loop_value }}" href="/admin/delete?page={{ loop_index }}" onclick="return confirm ('Are you sure?')" style="text-decoration: none">&#9587;</a> &nbsp;
	<a title="View Page {{ loop_value }}" href="/{{ loop_index }}" target="_blank" style="text-decoration: none">&#8599;</a> &nbsp;
	<a title="Edit Page {{ loop_value }}" href="/admin/edit?page={{ loop_index }}">{{ loop_value }}</a><br />
{% end %}
</p>
