<script src="http://code.jquery.com/jquery-1.5.2.min.js"></script>
<script src="/js/jquery.verify_values.js"></script>
<script>
$(function () {
	$('#account-signup').verify_values ({
		handler: 'account/signup',
		callback: function (failed) {
			// highlight the failed elements
			for (var i = 0; i < failed.length; i++) {
				$('#' + failed[i] + '-notice').show ();
			}
		},
		reset: function (fields) {
			for (var i = 0; i < fields.length; i++) {
				$('#' + fields[i] + '-notice').hide ();
			}
		}
	});
	{% foreach failed %}
	$('#{{ loop_value }}-notice').show ();
	{% end %}
});
</script>

<h1>Sign Up</h1>

<p>Enter your info below to get started.</p>

<form method="POST" id="account-signup">
<p>Your name:<br />
<input type="text" name="name" value="{{ $_POST['name'] }}" size="30" />
<span class="notice" id="name-notice">You must enter your name</span>
</p>
<p>Your email:<br />
<input type="email" name="email" value="{{ $_POST['email'] }}" size="30" />
<span class="notice" id="email-notice">You must enter a valid email address</span>
</p>
<p>Choose a password:<br />
<input type="password" name="password" value="{{ $_POST['password'] }}" />
<span class="notice" id="password-notice">You must choose a password</span>
</p>
<p>Verify password:<br />
<input type="password" name="verify" value="{{ $_POST['verify'] }}" />
<span class="notice" id="verify-notice">Your password doesn't appear to match</span>
</p>
<p><input type="submit" value="Sign Up" /></p>
</form>
