#body>p, .note {
	max-width: 600px;
}
#photo {
	max-width: 200px;
	float: right;
}
.clear-photo {
	clear: both;
}
#link-list, #note-list, .note {
	margin-bottom: 15px;
}
.note-info-line {
	display: block;
	font-weight: bold;
}
.note-made-by:after {
	content: ":";
}
.link .fa {
	margin-right: 8px;
	width: 13px;
}
.note-delete {
	font-weight: normal;
}

#social-link-form select {
	margin-left: 6px;
	margin-right: 6px;
}

.ui-tabs-panel {
	padding-top: 20px;
}

.ui-tabs-hide {
	display: none;
}

.ui-tabs-nav {
	list-style: none;
	border-bottom: 1px solid #93278f;
	padding: 0px;
	margin: 0px;
	padding-bottom: 2px;
}

.ui-state-default {
	display: inline;
	margin: 0px;
	padding: 0px;
}

	.ui-state-default a {
		text-decoration: none;
		margin: 0px;
		line-height: 20px;
		padding: 5px 10px 5px 10px;
		background: #e5e5e5;
		color: #222;
		border-right: 1px solid #ccc;
		outline: none;
	}
	
	.ui-state-default a:hover {
		background: #dddddd; /* Old browsers */
		background: -moz-linear-gradient(top,  #dddddd 0%, #cccccc 100%); /* FF3.6+ */
		background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#dddddd), color-stop(100%,#cccccc)); /* Chrome,Safari4+ */
		background: -webkit-linear-gradient(top,  #dddddd 0%,#cccccc 100%); /* Chrome10+,Safari5.1+ */
		background: -o-linear-gradient(top,  #dddddd 0%,#cccccc 100%); /* Opera 11.10+ */
		background: -ms-linear-gradient(top,  #dddddd 0%,#cccccc 100%); /* IE10+ */
		background: linear-gradient(to bottom,  #dddddd 0%,#cccccc 100%); /* W3C */
		color: #93278f;
	}

	.ui-state-active a {
		background: #dddddd; /* Old browsers */
		background: -moz-linear-gradient(top,  #dddddd 0%, #cccccc 100%); /* FF3.6+ */
		background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#dddddd), color-stop(100%,#cccccc)); /* Chrome,Safari4+ */
		background: -webkit-linear-gradient(top,  #dddddd 0%,#cccccc 100%); /* Chrome10+,Safari5.1+ */
		background: -o-linear-gradient(top,  #dddddd 0%,#cccccc 100%); /* Opera 11.10+ */
		background: -ms-linear-gradient(top,  #dddddd 0%,#cccccc 100%); /* IE10+ */
		background: linear-gradient(to bottom,  #dddddd 0%,#cccccc 100%); /* W3C */
		color: #93278f;
		border-right: 0px;
		outline: none;
	}
	
	.ui-state-active a:hover {
		background: #dddddd; /* Old browsers */
		background: -moz-linear-gradient(top,  #dddddd 0%, #cccccc 100%); /* FF3.6+ */
		background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#dddddd), color-stop(100%,#cccccc)); /* Chrome,Safari4+ */
		background: -webkit-linear-gradient(top,  #dddddd 0%,#cccccc 100%); /* Chrome10+,Safari5.1+ */
		background: -o-linear-gradient(top,  #dddddd 0%,#cccccc 100%); /* Opera 11.10+ */
		background: -ms-linear-gradient(top,  #dddddd 0%,#cccccc 100%); /* IE10+ */
		background: linear-gradient(to bottom,  #dddddd 0%,#cccccc 100%); /* W3C */
		color: #93278f;
	}
