#body>p {
	max-width: 600px;
}
#photo {
	max-width: 200px;
	float: right;
}
.clear-photo {
	clear: both;
}
#link-list, #note-list, .note {
	margin-bottom: 15px;
}
.note-info-line {
	display: block;
	font-weight: bold;
}
.note-made-by:after {
	content: ":";
}
.link .fa {
	margin-right: 8px;
	width: 13px;
}
.note-delete {
	font-weight: normal;
}