<!DOCTYPE html>
<html>
<head>
	<title>Elefant Cheat Sheet</title>
	<link rel="stylesheet" type="text/css" href="reset.css" />
	<link rel="stylesheet" type="text/css" href="text.css" />
	<link rel="stylesheet" type="text/css" href="960.css" />
	<link rel="stylesheet" type="text/css" href="style.css" />
</head>
<body>

<div id="wrapper" class="container_12">

<div class="grid_6 alpha title">
<h1>Elefant Cheat Sheet</h1>
</div>
<div class="grid_6 omega link">
<!-- a href="http://jbroadway.github.com/elefant/elefant_cheatsheet.pdf">Download as a PDF</a -->
<a href="http://www.elefantcms.com/">www.elefantcms.com</a>
</div>

<div class="clear"></div>

<div class="grid_8 alpha">

	<div class="grid_5 alpha">
	
		<div class="block">
		<h2>Getting Started</h2>
		<table>
		<tr><td colspan="2"><span>These are the steps to get Elefant up and running.</span></td></tr>
		<tr>
			<td><code>git clone http://github.com/jbroadway/elefant.git</code></td>
		</tr>
		<tr>
			<td><span>Point a virtualhost to the new <code>elefant</code> folder</span></td>
		</tr>
		<tr>
			<td><code>cd elefant</code></td>
		</tr>
		<tr>
			<td><code>chmod -R 777 cache conf css files install layouts</code></td>
		</tr>
		<tr>
			<td><code>./conf/elefant install</code> <span>or</span> <code>example.com/install/</code> <span>via web</span></td>
		</tr>
		</table>
		</div>
		
		<div class="block">
		<h2>Utilities</h2>
		<table>
		<tr>
			<td><code>./conf/elefant build-app &lt;name&gt;</code></td>
			<td><span>Generate app skeleton</span></td>
		</tr>
		<tr>
			<td><code>./conf/elefant backup &lt;path&gt;</code></td>
			<td><span>Backup your website</span></td>
		</tr>
		<tr>
			<td><code>./conf/elefant export-db &lt;file&gt;</code></td>
			<td><span>Backup your database</span></td>
		</tr>
		<tr>
			<td><code>./conf/elefant</code></td>
			<td><span>List all available commands</span></td>
		</tr>
		</table>
		</div>
	
	</div>
	
	<div class="grid_3 omega">

		<div class="block">
		<h2>Folder Structure</h2>
		<table>
		<tr>
			<td><code>apps</code></td>
			<td><span>Your applications</span></td>
		</tr>
		<tr>
			<td><code>cache</code></td>
			<td><span>Cached templates</span></td>
		</tr>
		<tr>
			<td><code>conf</code></td>
			<td><span>Configuration files</span></td>
		</tr>
		<tr>
			<td><code>css</code></td>
			<td><span>Stylesheets</span></td>
		</tr>
		<tr>
			<td><code>files</code></td>
			<td><span>Uploaded files</span></td>
		</tr>
		<tr>
			<td><code>index.php</code></td>
			<td><span>Front controller</span></td>
		</tr>
		<tr>
			<td><code>install</code></td>
			<td><span>Web installer</span></td>
		</tr>
		<tr>
			<td><code>js</code></td>
			<td><span>Javascript files</span></td>
		</tr>
		<tr>
			<td><code>lang</code></td>
			<td><span>Translations</span></td>
		</tr>
		<tr>
			<td><code>layouts</code></td>
			<td><span>Design templates</span></td>
		</tr>
		<tr>
			<td><code>lib</code></td>
			<td><span>Core classes</span></td>
		</tr>
		<tr>
			<td><code>tests</code></td>
			<td><span>Unit tests</span></td>
		</tr>
		</table>
		</div>
	
	</div>

<div class="clear"></div>

	<div class="grid_7 alpha block">
	<h2>Request Routing</h2>
	<table>
	<tr>
		<td><code>/</code></td>
		<td><span>&rarr;&nbsp;&nbsp;</span></td>
		<td><code>conf('General', 'default_handler')</code></td>
	</tr>
	<tr>
		<td><code>/appname</code></td>
		<td><span>&rarr;&nbsp;&nbsp;</span></td>
		<td><code>apps/appname/handlers/index.php</code></td>
	</tr>
	<tr>
		<td><code>/appname/handler</code></td>
		<td><span>&rarr;&nbsp;&nbsp;</span></td>
		<td><code>apps/appname/handlers/handler.php</code></td>
	</tr>
	<tr>
		<td><code>/appname/handler/extra</code></td>
		<td><span>&rarr;&nbsp;&nbsp;</span></td>
		<td><code>apps/appname/handlers/handler/extra.php</code></td>
	</tr>
	<tr><td colspan="3"><span>Cascade occurs in reverse order until a matching handler is found.</span></td></tr>
	</table>
	</div>

</div>

<div class="grid_4 omega">

	<div class="block">
	<h2>App Structure</h2>
	<table>
	<tr>
		<td colspan="2"><code>apps/appname/</code></td>
	</tr>
	<tr>
		<td><code>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;conf</code></td>
		<td><span>Configuration files</span></td>
	</tr>
	<tr>
		<td><code>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;forms</code></td>
		<td><span>Form validations</span></td>
	</tr>
	<tr>
		<td><code>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;handlers</code></td>
		<td><span>Request handlers</span></td>
	</tr>
	<tr>
		<td><code>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;lib</code></td>
		<td><span>Custom classes</span></td>
	</tr>
	<tr>
		<td><code>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;models</code></td>
		<td><span>Data models</span></td>
	</tr>
	<tr>
		<td><code>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;views</code></td>
		<td><span>App templates</span></td>
	</tr>
	</table>
	</div>
	
	<div class="block">
	<h2>Available Objects</h2>
	<table>
	<tr>
		<td colspan="2"><span>These are made available inside handlers.</span></td>
	</tr>
	<tr>
		<td><code>$this</code></td>
		<td><span>Controller object</span></td>
	</tr>
	<tr>
		<td><code>$memcache</code></td>
		<td><span>Memcache object</span></td>
	</tr>
	<tr>
		<td><code>$page</code></td>
		<td><span>Page object</span></td>
	</tr>
	<tr>
		<td><code>$tpl</code></td>
		<td><span>Template object</span></td>
	</tr>
	</table>
	</div>

</div>

<div class="clear"></div>

<div class="container_12">
<h2>Core Classes</h2>
<p>Useful properties, methods, and usage patterns of the core classes.</p>

<div class="grid_6 alpha">

	<div class="block">
	<h3>Controller</h3>
	<table>
	<tr>
		<td><code>-&gt;run($uri, $data=array())</code></td>
		<td><span>Resolves and returns the output of a handler.</span></td>
	</tr>
	<tr>
		<td><code>-&gt;handle($handler)</code></td>
		<td><span>Returns the output of a handler by file name.</span></td>
	</tr>
	<tr>
		<td><code>-&gt;restful($obj)</code></td>
		<td><span>Create a RESTful API from an object.</span></td>
	</tr>
	<tr>
		<td><code>-&gt;redirect($uri)</code></td>
		<td><span>Redirect the current request to <code>$uri</code>.</span></td>
	</tr>
	<tr>
		<td><code>-&gt;hook($type, $data)</code></td>
		<td><span>Run any handlers assigned to a hook type.</span></td>
	</tr>
	<tr>
		<td><code>-&gt;error($code=404, $title, $msg)</code></td>
		<td><span>Trigger the default error handler.</span></td>
	</tr>
	<tr>
		<td><code>-&gt;params($one, $two, ...)</code></td>
		<td><span>Retrieve specified request parameters.</span></td>
	</tr>
	<tr>
		<td><code>-&gt;request_method()</code></td>
		<td><span>Get the request method.</span></td>
	</tr>
	<tr>
		<td><code>-&gt;get_put_data()</code></td>
		<td><span>Get data from a PUT request.</span></td>
	</tr>
	<tr>
		<td><code>-&gt;get_raw_post_data()</code></td>
		<td><span>Get the raw data from a POST request.</span></td>
	</tr>
	<tr>
		<td><code>-&gt;flush($data)</code></td>
		<td><span>Flush chunked data to client.</span></td>
	</tr>
	<tr>
		<td><code>-&gt;is_https()</code></td>
		<td><span>Check if using HTTPS</span></td>
	</tr>
	<tr>
		<td><code>-&gt;force_https()</code></td>
		<td><span>Redirect to HTTPS if using HTTP.</span></td>
	</tr>
	<tr>
		<td><code>-&gt;force_http()</code></td>
		<td><span>Redirect to HTTP if using HTTPS.</span></td>
	</tr>
	<tr>
		<td><code>-&gt;require_login()</code></td>
		<td><span>Require authentication to continue.</span></td>
	</tr>
	<tr>
		<td><code>-&gt;require_admin()</code></td>
		<td><span>Require admin auth to continue.</span></td>
	</tr>
	<tr>
		<td><code>-&gt;add_notification($msg)</code></td>
		<td><span>Add a notification for the current admin.</span></td>
	</tr>
	</table>
	</div>
	
	<div class="block">
	<h3>Direct-to-database helper functions</h3>
	<table>
	<tr>
		<td colspan="2"><span>All functions except <tt>db_error()</tt> and <tt>db_lastid()</tt> accept <tt>$sql</tt> plus an array or variable number of values for replacement of placeholders, for example:</span><br />
		<code>$res = db_execute('select * from mytable where id = ?', $id);</code></td>
	</tr>
	<tr>
		<td><code>db_execute()</code></td>
		<td><span>Execute a statement and return true/false.</span></td>
	</tr>
	<tr>
		<td><code>db_single()</code></td>
		<td><span>Fetch a single object.</span></td>
	</tr>
	<tr>
		<td><code>db_shift()</code></td>
		<td><span>Fetch the a single value from the first result returned.</span></td>
	</tr>
	<tr>
		<td><code>db_fetch_array()</code></td>
		<td><span>Fetch an array of all result objects.</span></td>
	</tr>
	<tr>
		<td><code>db_shift_array()</code></td>
		<td><span>Fetch an array of a single field.</span></td>
	</tr>
	<tr>
		<td><code>db_pairs()</code></td>
		<td><span>Fetch an associative array of two fields.</span></td>
	</tr>
	<tr>
		<td><code>db_lastid()</code></td>
		<td><span>Get the last inserted id value (int).</span></td>
	</tr>
	<tr>
		<td><code>db_error()</code></td>
		<td><span>Get the last error message, or false if no error.</span></td>
	</tr>
	</table>
	</div>

	<div class="block">
	<h3>Form</h3>
	<table>
	<tr>
		<td><code>$f = new Form($method, $rules)</code></td>
		<td><span>Constructor method.</span></td>
	</tr>
	<tr>
		<td><pre><code>if ($f->submit()) {
  // handle form
}</code></pre></td>
		<td><span>Is the form submitted and valid?</span></td>
	</tr>
	<tr>
		<td><code>Form::verify_value($value, $type, $validator)</code></td>
		<td><span>Validate any data value.</span></td>
	</tr>
	<tr>
		<td><code>$f->merge_values($obj)</code></td>
		<td><span>Merge <tt>$_GET</tt> or <tt>$_POST</tt> values with an object for pre-filling a re-rendered form.</span></td>
	</tr>
	<tr>
		<td><code>$f->failed = array()</code></td>
		<td><span>Fields that failed validation.</span></td>
	</tr>
	<tr>
		<td><code>$f->method = 'post'</code></td>
		<td><span>Required request method.</span></td>
	</tr>
	<tr>
		<td><code>$f->rules = array()</code></td>
		<td><span>Validation rules.</span></td>
	</tr>
	<tr>
		<td><code>$f->verify_csrf = true</code></td>
		<td><span>Whether to prevent CSRF attacks.</span></td>
	</tr>
	<tr>
		<td><code>$f->error = false</code></td>
		<td><span>The reason submit() failed to pass.</span></td>
	</tr>
	</table>
	</div>

	<div class="block">
	<h3>I18n</h3>
	<table>
	<tr>
		<td><code>i18n_get($str)</code></td>
		<td><span>Translate a string into the current language.</span></td>
	</tr>
	<tr>
		<td><code>i18n_getf($str, $vals)</code></td>
		<td><span>Like <tt>i18n_get()</tt> with <tt>vsprintf()</tt>.</span></td>
	</tr>
	<tr>
		<td><code>$language</code></td>
		<td><span>The current language.</span></td>
	</tr>
	<tr>
		<td><code>$locale</code></td>
		<td><span>The current locale.</span></td>
	</tr>
	<tr>
		<td><code>$charset = 'UTF-8'</code></td>
		<td><span>The current language's character set.</span></td>
	</tr>
	<tr>
		<td><code>$fullname</code></td>
		<td><span>The full name of the current language.</span></td>
	</tr>
	<tr>
		<td><code>$url_includes_lang</code></td>
		<td><span>Whether the URL includes the language, e.g., <tt>/fr/index</tt>.</span></td>
	</tr>
	<tr>
		<td><code>$new_request_uri</code></td>
		<td><span>The URL with the prefixed language removed.</span></td>
	</tr>
	<tr>
		<td><code>$negotiation</code></td>
		<td><span>Negotiation method used to determine language.</span></td>
	</tr>
	<tr>
		<td><code>$error</code></td>
		<td><span>Any error that occurs in the class.</span></td>
	</tr>
	</table>
		</div>

</div>

<div class="grid_6 omega">
	
	<div class="block">
	<h3>Model</h3>
	<table>
	<tr>
		<td colspan="2"><span>Usage:</span></td></td>
	</tr>
	<tr>
		<td><pre><code>class Mytable extends Model {
  /* custom methods */
}</code></pre></td>
		<td><span>Create model for <tt>mytable</tt> db table.</span></td>
	</tr>
	<tr>
		<td><pre><code>$m = new Mytable(array(
  'name'=>'John',
  'age'=>30
));
$m->put();</code></pre></td>
		<td><span>Insert a new object.</span></td>
	</tr>
	<tr>
		<td><code>echo $m->id;</code></td>
		<td><span>The ID from the inserted object.</span></td>
	</tr>
	<tr>
		<td><code>$m = new Mytable(1);</code></td>
		<td><span>Fetch object by ID.</span></td>
	</tr>
	<tr>
		<td><pre><code>$m->age = 31;
$m->put();</code></pre></td>
		<td><span>Update the object.</span></td>
	</tr>
	<tr>
		<td><pre><code>$obj = $m->orig ();</code></pre></td>
		<td><span>Return the original (non-Model) object.</span></td>
	</tr>
	<tr>
		<td><code>$m->remove()</code></td>
		<td><span>Delete the object.</span></td>
	</tr>
	<tr>
		<td><pre><code>$res = $m->query()
  ->where('age > 30')
  ->order('name asc')
  ->fetch(20, 0);</code></pre></td>
		<td><span>Build a custom query and fetch the results.<br /><tt>$res</tt> is an array of <tt>Mytable</tt> objects.</span></td>
	</tr>
	<tr>
		<td colspan="2"><span>Additional fetch methods:</span></td>
	</tr>
	<tr>
		<td><code>->fetch_assoc()</code></td>
		<td><span>Fetch a key/value pair of two fields.</span></td>
	</tr>
	<tr>
		<td><code>->fetch_field()</code></td>
		<td><span>Fetch an array of one fields.</span></td>
	</tr>
	<tr>
		<td><code>->fetch_orig()</code></td>
		<td><span>Fetch the original (non-Model) objects.</span></td>
	</tr>
	</table>
	</div>

	<div class="block">
	<h3>Page</h3>
	<table>
	<tr>
		<td><code>-&gt;render()</code></td>
		<td><span>Renders the page with its layout templates.</span></td>
	</tr>
	<tr>
		<td><code>-&gt;add_script($script, $to='head')</code></td>
		<td><span>Add script to <code>$head</code> or <code>$tail</code>.</span></td>
	</tr>
	<tr>
		<td><code>$body = ''</code></td>
		<td><span>Body content.</span></td>
	</tr>
	<tr>
		<td><code>$head = ''</code></td>
		<td><span>Extra scripts for <code>&lt;head&gt;</code> section.</span></td>
	</tr>
	<tr>
		<td><code>$tail = ''</code></td>
		<td><span>Extra scripts before <code>&lt;/body&gt;<code>.</span></td>
	</tr>
	<tr>
		<td><code>$layout = 'default'</code></td>
		<td><span>Design template.</span></td>
	</tr>
	<tr>
		<td><code>$title = ''</code></td>
		<td><span>Page title.</span></td>
	</tr>
	<tr>
		<td><code>$menu_title = ''</code></td>
		<td><span>Alternate navigation title.</span></td>
	</tr>
	<tr>
		<td><code>$window_title = ''</code></td>
		<td><span>Alternate browser window title.</span></td>
	</tr>
	</table>
	</div>
	
	<div class="block">
	<h3>Template</h3>
	<table>
	<tr>
		<td><code>-&gt;render($template, $data)</code></td>
		<td><span>Render a template file.</span></td>
	</tr>
	<tr>
		<td><code>-&gt;run_includes($template)</code></td>
		<td><span>Run and include handlers in a string.</span></td>
	</tr>
	<tr>
		<td><code>-&gt;sanitize($value)</code></td>
		<td><span>Sanitize a string for safe output. Prevents XSS.</span></td>
	</tr>
	<tr>
		<td><code>$charset = 'UTF-8'</code></td>
		<td><span>Template character set.</span></td>
	</tr>
	<tr>
		<td><code>{{ var }}</code></td>
		<td><span>In-template variable substitution.</span></td>
	</tr>
	<tr>
		<td><code>{{ var|filter_name }}</code></td>
		<td><span>Variable filtering.</span></td>
	</tr>
	<tr>
		<td><code>{" Text "}</code></td>
		<td><span>In-template translatable text.</span></td>
	</tr>
	<tr>
		<td><pre><code>{% foreach foo %}
{% end %}</code></pre></td>
		<td><span>In-template looping.</span></td>
	</tr>
	<tr>
		<td><pre><code>{% if foo %}
{% elseif bar %}
{% else %}
{% end %}</code></pre></td>
		<td><span>In-template conditional logic.</span></td>
	</tr>
	<tr>
		<td><code>{! app/handler?param=value !}</code></td>
		<td><span>Call a handler from a template.</span></td>
	</tr>
	<tr>
		<td><code>{# app/handler?param=value #}</code></td>
		<td><span>Hard-code handler output in a template.</span></td>
	</tr>
	</table>
	</div>

	<div class="block">
	<h3>User</h3>
	<table>
	<tr>
		<td colspan="2"><span>Extends <tt>Model</tt> with the following:</span></td>
	</tr>
	<tr>
		<td><code>User::encrypt_pass($plain)</code></td>
		<td><span>Generates a random salt and encrypts a string.</span></td>
	</tr>
	<tr>
		<td><code>User::require_login()</code></td>
		<td><span>Checks if a user has been logged in.</span></td>
	</tr>
	<tr>
		<td><code>User::require_admin()</code></td>
		<td><span>Checks if a user has been logged in as an admin.</span></td>
	</tr>
	<tr>
		<td><code>User::is_valid()</code></td>
		<td><span>Check if the user is valid.</span></td>
	</tr>
	<tr>
		<td><code>User::logout($redirect_to)</code></td>
		<td><span>Log the current user out.</span></td>
	</tr>
	</table>
	</div>

</div>

<div class="clear"></div>

</div>

</body>
</html>