<p><a href="/{{plural}}/add">\{"Add {{appname|ucfirst}}"}</a></p>

<p>
<table width="100%">
	<tr>
{{ fields|make_fields_header (array_slice (%s, 1)) }}
		<th width="16%">&nbsp;</th>
	</tr>
\{% foreach items %}
	<tr>
{{ fields|make_fields_row (array_slice (%s, 1)) }}
		<td>
			<a	href="/{{plural}}/edit?id=\{{ loop_value->id }}">\{"Edit"}</a> |
			<a	href="/{{plural}}/delete"
				data-id="\{{ loop_value->id }}"
				onclick="return $.confirm_and_post (this, '\{"Are you sure you want to delete this {{appname}}?"}')">\{"Delete"}</a>
		</td>
	</tr>
\{% end %}
</table>
</p>

\{! navigation/pager?style=text&url=[url]&total=[total]&count=[count]&limit=[limit] !}