body {
	background: #fff;
	color: #222;
	font-family: Helvetica, Arial, sans-serif;
	font-size: 13px;
}

.embedded {
	padding: 5px;
	background: #ddd;
	border: 1px solid #bbb;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#eeeeee', endColorstr='#cccccc');
	background: -webkit-gradient(linear, left top, left bottom, from(#eee), to(#ccc));
	background: -moz-linear-gradient(top,  #eee,  #ccc);
	-webkit-border-radius: 9px;
	-moz-border-radius: 9px;
	border-radius: 9px;
	white-space: nowrap;
}
