.dropmenu, .dropmenu ul {
	margin: 0;
	padding: 0;
	list-style-type: none;
	list-style-position: outside;
	position: relative;
	line-height: 1.5em;
}

.dropmenu ul {
	margin-top: 0px !important;
	z-index: 9999;
}

.dropmenu ul a:link, .dropmenu ul a:active, .dropmenu ul a:visited {
	background-color: #eee;
	text-decoration: none;
	text-align: left;
	padding: 0px 5px;
	display: block;
}

.dropmenu ul a:hover {
	background-color: #ddd;
}

.dropmenu li {
	float: left;
	position: relative;
}

.dropmenu ul {
	position: absolute;
	width: 12em;
	top: 1.5em;
	display: none;
}

.dropmenu li ul a {
	width: 12em;
	float: left;
}

.dropmenu ul ul {
	top: auto;
}

.dropmenu li ul ul {
	left: 14em;
	margin: 0px 0px 0px 10px;
}

.dropmenu li:hover ul ul, .dropmenu li:hover ul ul ul, .dropmenu li:hover ul ul ul ul {
	display: none;
}

.dropmenu li:hover ul, .dropmenu li li:hover ul, .dropmenu li li li:hover ul, .dropmenu li li li li:hover ul {
	display: block;
}
