<p>
	\{"{{field->name|cli\Filter::label}}"}:<br />
	<select name="{{field->name}}">
		<option value="">- select -</option>
		<option value="00:00:00"\{% if {{field->name}} == '00:00:00' %} selected\{% end %}>12:00am</option>
		<option value="00:30:00"\{% if {{field->name}} == '00:30:00' %} selected\{% end %}>12:30am</option>
		<option value="01:00:00"\{% if {{field->name}} == '01:00:00' %} selected\{% end %}>1:00am</option>
		<option value="01:30:00"\{% if {{field->name}} == '01:30:00' %} selected\{% end %}>1:30am</option>
		<option value="02:00:00"\{% if {{field->name}} == '02:00:00' %} selected\{% end %}>2:00am</option>
		<option value="02:30:00"\{% if {{field->name}} == '02:30:00' %} selected\{% end %}>2:30am</option>
		<option value="03:00:00"\{% if {{field->name}} == '03:00:00' %} selected\{% end %}>3:00am</option>
		<option value="03:30:00"\{% if {{field->name}} == '03:30:00' %} selected\{% end %}>3:30am</option>
		<option value="04:00:00"\{% if {{field->name}} == '04:00:00' %} selected\{% end %}>4:00am</option>
		<option value="04:30:00"\{% if {{field->name}} == '04:30:00' %} selected\{% end %}>4:30am</option>
		<option value="05:00:00"\{% if {{field->name}} == '05:00:00' %} selected\{% end %}>5:00am</option>
		<option value="05:30:00"\{% if {{field->name}} == '05:30:00' %} selected\{% end %}>5:30am</option>
		<option value="06:00:00"\{% if {{field->name}} == '06:00:00' %} selected\{% end %}>6:00am</option>
		<option value="06:30:00"\{% if {{field->name}} == '06:30:00' %} selected\{% end %}>6:30am</option>
		<option value="07:00:00"\{% if {{field->name}} == '07:00:00' %} selected\{% end %}>7:00am</option>
		<option value="07:30:00"\{% if {{field->name}} == '07:30:00' %} selected\{% end %}>7:30am</option>
		<option value="08:00:00"\{% if {{field->name}} == '08:00:00' %} selected\{% end %}>8:00am</option>
		<option value="08:30:00"\{% if {{field->name}} == '08:30:00' %} selected\{% end %}>8:30am</option>
		<option value="09:00:00"\{% if {{field->name}} == '09:00:00' %} selected\{% end %}>9:00am</option>
		<option value="09:30:00"\{% if {{field->name}} == '09:30:00' %} selected\{% end %}>9:30am</option>
		<option value="10:00:00"\{% if {{field->name}} == '10:00:00' %} selected\{% end %}>10:00am</option>
		<option value="10:30:00"\{% if {{field->name}} == '10:30:00' %} selected\{% end %}>10:30am</option>
		<option value="11:00:00"\{% if {{field->name}} == '11:00:00' %} selected\{% end %}>11:00am</option>
		<option value="11:30:00"\{% if {{field->name}} == '11:30:00' %} selected\{% end %}>11:30am</option>
		<option value="12:00:00"\{% if {{field->name}} == '12:00:00' %} selected\{% end %}>12:00pm</option>
		<option value="12:30:00"\{% if {{field->name}} == '12:30:00' %} selected\{% end %}>12:30pm</option>
		<option value="13:00:00"\{% if {{field->name}} == '13:00:00' %} selected\{% end %}>1:00pm</option>
		<option value="13:30:00"\{% if {{field->name}} == '13:30:00' %} selected\{% end %}>1:30pm</option>
		<option value="14:00:00"\{% if {{field->name}} == '14:00:00' %} selected\{% end %}>2:00pm</option>
		<option value="14:30:00"\{% if {{field->name}} == '14:30:00' %} selected\{% end %}>2:30pm</option>
		<option value="15:00:00"\{% if {{field->name}} == '15:00:00' %} selected\{% end %}>3:00pm</option>
		<option value="15:30:00"\{% if {{field->name}} == '15:30:00' %} selected\{% end %}>3:30pm</option>
		<option value="16:00:00"\{% if {{field->name}} == '16:00:00' %} selected\{% end %}>4:00pm</option>
		<option value="16:30:00"\{% if {{field->name}} == '16:30:00' %} selected\{% end %}>4:30pm</option>
		<option value="17:00:00"\{% if {{field->name}} == '17:00:00' %} selected\{% end %}>5:00pm</option>
		<option value="17:30:00"\{% if {{field->name}} == '17:30:00' %} selected\{% end %}>5:30pm</option>
		<option value="18:00:00"\{% if {{field->name}} == '18:00:00' %} selected\{% end %}>6:00pm</option>
		<option value="18:30:00"\{% if {{field->name}} == '18:30:00' %} selected\{% end %}>6:30pm</option>
		<option value="19:00:00"\{% if {{field->name}} == '19:00:00' %} selected\{% end %}>7:00pm</option>
		<option value="19:30:00"\{% if {{field->name}} == '19:30:00' %} selected\{% end %}>7:30pm</option>
		<option value="20:00:00"\{% if {{field->name}} == '20:00:00' %} selected\{% end %}>8:00pm</option>
		<option value="20:30:00"\{% if {{field->name}} == '20:30:00' %} selected\{% end %}>8:30pm</option>
		<option value="21:00:00"\{% if {{field->name}} == '21:00:00' %} selected\{% end %}>9:00pm</option>
		<option value="21:30:00"\{% if {{field->name}} == '21:30:00' %} selected\{% end %}>9:30pm</option>
		<option value="22:00:00"\{% if {{field->name}} == '22:00:00' %} selected\{% end %}>10:00pm</option>
		<option value="22:30:00"\{% if {{field->name}} == '22:30:00' %} selected\{% end %}>10:30pm</option>
		<option value="23:00:00"\{% if {{field->name}} == '23:00:00' %} selected\{% end %}>11:00pm</option>
		<option value="23:30:00"\{% if {{field->name}} == '23:30:00' %} selected\{% end %}>11:30pm</option>
	</select>
	<span class="notice" id="{{field->name}}-notice">\{"Please choose a {{field->name|cli\Filter::spaces}}."}</span>
</p>

