<p>
	<a href="/translator/add">{"Add language"}</a>
	&nbsp;|&nbsp;
	<a href="/translator/build">{"Rebuild index"}</a>
</p>

<p>
<table width="100%">
	<tr>
		<th width="30%">{"Language"}</th>
		<th width="10%">{"Code"}</th>
		<th width="10%">{"Fallback"}</th>
		<th width="10%">{"Charset"}</th>
		<th width="10%" style="text-align: right">{"Translated"}</th>
		<th width="30%">&nbsp;</th>
	</tr>
{% foreach languages %}
	<tr>
		<td>{{ loop_value[name] }}</a></td>
		<td>{{ loop_index }}</td>
		<td>{% if isset ($data->loop_value['fallback']) %}{{ loop_value['fallback'] }}{% else %}{"None"}{% end %}</td>
		<td>{{ loop_value[charset] }}</td>
		<td style="text-align: right">{{ loop_index|translator_completed|round }}%</td>
		<td style="text-align: right">
			{% if default == $data->loop_index %}
				<strong>Default</strong> |
			{% else %}
				<a href="/translator/makedefault?lang={{ loop_index }}">{"Make default"}</a> |
			{% end %}
			<a href="/translator/edit/{{ loop_index }}">{"Edit"}</a> |
			<a href="/translator/settings?lang={{ loop_index }}">{"Settings"}</a> |
			<a href="/translator/delete?lang={{ loop_index }}" onclick="return confirm ('{"Are you sure you want to delete this language?"}');">{"Delete"}</a>
		</td>
	</tr>
{% end %}
</table>
</p>
