body {
	background: #eee;
	color: #333;
	font-family: Helvetica, Arial, sans-serif;
	font-size: 13px;
	line-height: 21px;
}

a {
	color: #93278f;
	text-decoration: none;
}

a:hover {
	color: #B347AF;
	text-decoration: underline;
}

a.next {
	float: right;
	padding: 7px 7px 0px 0px;
}

h1 {
	padding: 0px 7px 10px 0px;
	margin: -8px 0px 0px 150px;
	color: transparent;
	background: url(title.png);
	background-repeat: no-repeat;
	width: 228px;
	height: 32px;
	display: block;
}

h2 {
	padding: 0px;
	margin: 0px;
}

.notice {
	color: #93278f;
}

.password_strength_1, .password_strength_2 {
	color: #a00 !important;
}

.password_strength_3 {
	color: #d90 !important;
}

.password_strength_4, .password_strength_5 {
	color: #090 !important;
}

#wrapper {
	width: 640px;
	padding-top: 50px;
	margin-left: auto;
	margin-right: auto;
}

#steps {
	width: 150px;
	float: left;
	padding: 0px;
	margin: 0px;
	clear: both;
}

	#steps ul {
		padding: 0px;
		margin: 0px;
	}

	#steps ul li {
		padding: 7px 0px 7px 10px;
		list-style-type: none;
		color: #333;
	}

	#steps ul li.active {
		background: #f5f5f5;
		color: #93278f;
		-webkit-border-top-left-radius: 5px;
		-webkit-border-bottom-left-radius: 5px;
		-moz-border-radius-topleft: 5px;
		-moz-border-radius-bottomleft: 5px;
		border-top-left-radius: 5px;
		border-bottom-left-radius: 5px;
		-moz-box-shadow: 0px 0px 5px #aaa;
		-webkit-box-shadow: 0px 0px 5px #aaa;
		box-shadow: 0px 0px 5px #aaa;
	}

#body {
	color: #222;
	width: 485px;
	float: left;
	background: #f5f5f5;
	-webkit-border-radius: 5px;
	-webkit-border-top-left-radius: 0;
	-moz-border-radius: 5px;
	-moz-border-radius-topleft: 0;
	border-radius: 5px;
	border-top-left-radius: 0;
	-webkit-border-top-left-radius: 5px;
	-moz-border-radius-topleft: 5px;
	border-top-left-radius: 5px;
	-moz-box-shadow: 0px 0px 5px #aaa;
	-webkit-box-shadow: 0px 0px 5px #aaa;
	box-shadow: 0px 0px 5px #aaa;
	margin-left: -2px;
}

#content {
	padding: 0px 20px 5px 20px;
	min-height: 300px;
}
