<p>
	<a href="/user/add">{"Add Member"}</a>
	{% if User::require_acl ('user/roles') %}
	&nbsp;|&nbsp;
	<a href="/user/roles">{"Roles"}</a>
	{% end %}
	{% if User::require_acl ('settings') %}
	&nbsp;|&nbsp;
	<a href="/user/settings">{"Settings"}</a>
	&nbsp;|&nbsp;
	<a href="/admin/extended?extends=User&name=Members">{"Custom Fields"}</a>
	{% end %}
</p>

<p style="float: left">
{! navigation/pager?style=results&url=[url]&total=[total]&count=[count]&limit=[limit] !}
</p>

{% if total > $data->limit %}
<div style="float: right">
{! navigation/pager?style=numbers&url=[url]&total=[total]&count=[count]&limit=[limit] !}
</div>
{% end %}

<p>
<table width="100%">
	<tr>
		<th width="18%">{"Name"}</th>
		<th width="20%">{"Email"}</th>
		<th width="18%">{"Company"}</th>
		<th width="18%">{"Title"}</th>
		<th width="10%">{"Role"}</th>
		<th width="16%">&nbsp;</th>
	</tr>
{% foreach users %}
	<tr>
		<td>{{ loop_value->name }}</td>
		<td><a href="mailto:{{ loop_value->email }}">{{ loop_value->email }}</a></td>
		<td>{{ loop_value->company }}</td>
		<td>{{ loop_value->title }}</td>
		<td>{{ loop_value->type|ucfirst }}</td>
		<td style="text-align: right">
			<a href="/user/details?id={{ loop_value->id }}">{"Details"}</a>
			|
			<a href="/user/edit?id={{ loop_value->id }}">{"Edit"}</a>
			|
			<a href="/user/delete?id={{ loop_value->id }}" onclick="return confirm ('{"Are you sure you want to delete this user?"}');">{"Delete"}</a>
			</td>
	</tr>
{% end %}
</table>
</p>

{% if total > $data->limit %}
{! navigation/pager?style=numbers&url=[url]&total=[total]&count=[count]&limit=[limit] !}
{% end %}
