<p>
	<a href="/user/admin">&laquo; {"Back"}</a>
	&nbsp;|&nbsp;
	<a href="/user/edit?id={{id}}">{"Edit"}</a>
	&nbsp;|&nbsp;
	<a href="/user/delete?id={{id}}" onclick="return confirm ('{"Are you sure you want to delete this user?"}');">{"Delete"}</a>
</p>

<h4>{"Contact information"}</h4>

{% if photo != '' %}
<img src="{{photo}}" id="photo" />
{% end %}

<p>
	<b>{"Email"}:</b> <a href="mailto:{{email}}">{{email}}</a><br />
	<b>{"Phone"}:</b> {{phone}}<br />
	<b>{"Website"}:</b> <a href="{{website}}">{{website}}</a>
</p>

<p>
	<b>{"Company"}:</b> {{company}}<br />
	<b>{"Title"}:</b> {{title}}
</p>

<p>
	{{address}}{% if address2 != '' %},<br />{{address2}}{% end %}<br />
	{{city}}, {{state|user\Data::state}}<br />
	{{country|user\Data::country}} {{zip}}
</p>

{% if about != '' %}
<p><b>{"About"}:</b><br />{{about}}</p>
{% end %}

<h4 class="clear-photo">{"Social links"}</h4>

<div id="links" style="margin-bottom: 15px">
</div>

<form id="add-link">
<p>
	<input type="text" id="link-handle" placeholder="{"Link or handle"}" size="35" />
	<select id="link-service">
		<option value="">{"- service -"}</option>
		<option value="Facebook">Facebook</option>
		<option value="Google+">Google+</option>
		<option value="Instagram">Instagram</option>
		<option value="Twitter">Twitter</option>
		<option value="Tumblr">Tumblr</option>
		<option value="Website">Website</option>
	</select>
	<input type="submit" id="link-submit" value="{"Add Link"}" />
</p>
</form>

<h4>{"Notes"}</h4>

<div id="notes" style="margin-bottom: 15px">
</div>

<form id="add-note">
<p>
	<textarea id="note-text" cols="70" rows="4"></textarea><br />
	<input type="submit" id="note-submit" value="{"Add Note"}" />
</p>
</form>

<script>
$(function () {
	links.init ({{ links|json_encode }});
	notes.init ({{ notes|json_encode }});
});
</script>

<style>
#photo {
	max-width: 200px;
	float: right;
}
.clear-photo {
	clear: both;
}
</style>