{% if photo == '' %}
	<img src="{{Appconf::user ('User', 'default_photo')}}" align="left" style="margin-right: 15px; width: {{Appconf::user ('User', 'photo_width')}}px; height: {{Appconf::user ('User', 'photo_height')}}px" />
{% else %}
	<img src="/{{photo}}" align="left" style="margin-right: 15px; width: {{Appconf::user ('User', 'photo_width')}}px; height: {{Appconf::user ('User', 'photo_height')}}px" />
{% end %}

<p>

{% if website != '' %}
	<a href="{{website}}" rel="nofollow">{"Visit Website"}</a>
{% end %}

{% if is_current %}
	{% if website != '' %}|{% end %}
	<a href="/user/update" class="user-edit-profile">{"Edit Profile"}</a>
{% end %}

</p>

{% if about != '' %}
<p>{{about|Template::sanitize|nl2br}}</p>
{% end %}

<br clear="both" />
