<div class="form">

<form method="post" id="{{_form}}">

<p>{"Login methods"}:<br />
<input type="checkbox" name="login_facebook" id="login_facebook" value="yes"{% if login_facebook %} checked{% end %} /> {"Facebook"}<br />
<input type="checkbox" name="login_google" id="login_google"value="yes"{% if login_google %} checked{% end %} /> {"Google"}<br />
<input type="checkbox" name="login_openid" id="login_openid" value="yes"{% if login_openid %} checked{% end %} /> {"OpenID"}<br />
<input type="checkbox" name="login_twitter" id="login_twitter" value="yes"{% if login_twitter %} checked{% end %} /> {"Twitter"}<br />

<div id="facebook-info">
<p><strong>{"Facebook"}</strong><br />
<a href="https://developers.facebook.com/apps" target="_blank">{"Application ID"}</a>:<br />
<input type="text" name="facebook_app_id" size="30" value="{{ facebook_app_id|quotes }}" />
</p>

<p>{"Application secret"}:<br />
<input type="text" name="facebook_app_secret" size="30" value="{{ facebook_app_secret|quotes }}" />
</p>
</div>

<div id="twitter-info">
<p><strong>{"Twitter"}</strong><br />
<a href="https://dev.twitter.com/apps/new" target="_blank">{"Consumer key"}</a>:<br />
<input type="text" name="twitter_key" size="30" value="{{ twitter_key|quotes }}" />
</p>

<p>{"Consumer secret"}:<br />
<input type="text" name="twitter_secret" size="30" value="{{ twitter_secret|quotes }}" />
</p>
</div>

<p>
	<input type="submit" value="{"Save Settings"}" />
	&nbsp;
	<a href="/user/admin" onclick="return confirm ('{"Are you sure you want to cancel and lose any changes?"}')">{"Cancel"}</a>
</p>

</form>

</div>

<script>
$(function () {
	$('#facebook-info').toggle ($('#login_facebook').is (':checked'));
	$('#twitter-info').toggle ($('#login_twitter').is (':checked'));

	$('#login_facebook').click (function () {
		$('#facebook-info').toggle (this.checked);
	});

	$('#login_twitter').click (function () {
		$('#twitter-info').toggle (this.checked);
	});
});
</script>