<link rel="stylesheet" type="text/css" href="/apps/filemanager/css/gallery.css" />
<link rel="stylesheet" type="text/css" href="/apps/filemanager/js/fancybox/jquery.fancybox-1.3.4.css" />
<script src="/apps/filemanager/js/fancybox/jquery.fancybox-1.3.4.pack.js"></script>
<script>
$(function () {
	$('.gallery').fancybox ();
});
</script>

<div id="gallery">
{% foreach files %}
	<div><a href="/{{ loop_value }}" rel="gallery-{{ gallery }}" class="gallery"><img src="/{{ loop_value|filemanager_get_thumbnail }}" alt="" /></a></div>
{% end %}
</div>
