<link rel="stylesheet" type="text/css" href="/apps/filemanager/css/gallery.css" />
<link rel="stylesheet" type="text/css" href="/apps/filemanager/js/fancybox/jquery.fancybox-1.3.4.css" />
<script src="/apps/filemanager/js/fancybox/jquery.fancybox-1.3.4.pack.js"></script>
<script>
$(function () {
	$('.gallery').fancybox ({
		titlePosition: 'inside'
	});
});
</script>

<div id="gallery">
{% foreach files %}
	<div><a href="/{{ loop_value->path }}" rel="gallery-{{ gallery }}" class="gallery"{% if desc === 'yes' %} title="{{ loop_value->desc }}"{% end %}><img src="/{{ loop_value->path|filemanager_get_thumbnail }}" alt="" /></a></div>
{% end %}
</div>
