{! admin/util/dates !}
{! admin/util/modal !}

<script type="text/javascript" src="/js/urlify.js"></script>
<script type="text/javascript" src="/apps/filemanager/js/jquery.tmpl.beta1.min.js"></script>
<script type="text/javascript" src="/apps/filemanager/js/jquery.filemanager.js"></script>
<script type="text/x-jquery-tmpl" id="tpl_dir">
	<tr>
		<td><img src="/apps/admin/css/admin/folder.png" alt="${name}" style="padding-right: 5px; margin-top: -2px" /> <a href="/filemanager?path=${path}">${name}</a></td>
		<td>\{{html mtime}}</td>
		<td>&nbsp;</td>
		<td style="text-align: right"><a href="#" onclick="return $.filemanager ('mv', {file: '${path}', name: '${name}'})">{"Rename"}</a></td>
	</tr>
</script>
<script type="text/x-jquery-tmpl" id="tpl_file">
	<tr>
		<td><img src="/apps/admin/css/admin/file.png" alt="${name}" style="padding-right: 5px; margin-top: -2px" /> <a href="/files/${path}" target="_blank">${name}</a></td>
		<td>\{{html mtime}}</td>
		<td>${fsize}</td>
		<td style="text-align: right">
			\{{if image_file}}
			<a href="#" onclick="return $.filemanager ('img', {file: '${_path}', name: '${_name}'})">{"Edit"}</a> |
			\{{/if}}
			\{{if text_file}}
			<a href="/filemanager/edit?file=${path}">{"Edit"}</a> |
			\{{/if}}
			<a href="#" onclick="return $.filemanager ('prop', {file: '${_path}', name: '${_name}'})">{"Properties"}</a> |
			<a href="#" onclick="return $.filemanager ('mv', {file: '${_path}', name: '${_name}'})">{"Rename"}</a> | 
			<a href="#" onclick="return $.filemanager ('rm', {file: '${_path}'})">{"Delete"}</a>
		</td>
	</tr>
</script>
<script type="text/x-jquery-tmpl" id="tpl_edit_txt">
	<textarea cols="70" rows="20" id="tpl-edit-txt">\{{html txt}}</textarea>
</script>
<script type="text/javascript">
$(function () {
	$.filemanager_init ({
		path: '{{path}}',
		aviary_key: {% if aviary_key %}'{{ aviary_key }}'{% else %}false{% end %}

	});
});
var i18n = {
	no_files: '{"Please select a file to upload."}',
	invalid_name: '{"The file name contains invalid characters."}'
};
</script>

<h2>
{% if path == '' %}
	{"Files"}
{% else %}
	<a href="/filemanager">{"Files"}</a>
	{% foreach parts %}
		{% if loop_index == $data->lastpath %}
			/ {{ loop_index }}
		{% else %}
			/ <a href="/filemanager?path={{ loop_value }}">{{ loop_index }}</a>
		{% end %}
	{% end %}
{% end %}
</h2>

<p>
	<form action="/filemanager/upload" method="post" enctype="multipart/form-data">
	<input type="hidden" name="path" value="{{ path }}" />
	<a href="#" onclick="return $.filemanager ('mkdir', {file: '{{ path }}'})">{"New folder"}</a>
	&nbsp;|&nbsp;
	{"New file"} ({"max"} {{ ini_get ('upload_max_filesize')}}B): <input type="file" name="file[]" id="file-upload" multiple="multiple" /> <input type="submit" value="{"Upload"}" onclick="err = $.filemanager_verify_files ($('#file-upload')[0].files); if (err) { alert (i18n[err]); return false; } this.value = 'Uploading...'; this.disabled = true; this.form.submit ()" />
	&nbsp;|&nbsp;
	<a href="/filemanager/multi?path=/{{ path }}">{"Multi-file uploader"}</a>
	</form>
</p>

<p>
<table width="100%">
	<tr>
		<th width="45%">{" Name "}</th>
		<th width="22%">{" Last modified "}</th>
		<th width="8%">{" File size "}</th>
		<th width="25%">&nbsp;</th>
	</tr>
	<tbody id="file-list"></tbody>
</table>
</p>

{% if aviary_key %}
<img src="/apps/admin/css/admin/spacer.png" id="aviary-tmp" height="0" width="0" display: none" />
{% end %}
