<script type="text/javascript"> 
$(window).load (function () {
	$('#slideshow-{{name}}').cycle ({
		fx: 'fade',
		pager: '#slideshow-{{name}}-nav',
		timeout: {{timeout}},
		startingSlide: Math.floor (Math.random () * 5)
	});
});
</script>
<style type="text/css">
#slideshow-{{name}}-nav {
	margin-left: 48%;
	margin-top: 10px;
}
#slideshow-{{name}}-nav a {
	display: block;
	width: 10px;
	height: 10px;
	background: url(/apps/filemanager/css/notcurrent.png) no-repeat;
	float: left;
	text-indent: -9999px;
	border: 0;
	margin-right: 3px;
	text-decoration: none;
}

#slideshow-{{name}}-nav a.activeSlide {
	background: url(/apps/filemanager/css/current.png) no-repeat;
}
</style>

<div id="slideshow-{{name}}">
{% foreach files %}
	<img src="/{{ loop_value }}" alt="" {% if loop_index > 0 %}style="display: none"{% end %} />
{% end %}
</div>
<div id="slideshow-{{name}}-nav"></div>
<br style="clear: both" />
