<div id="slideshow-{{name}}" class="cycle-slideshow crop"
    data-cycle-fx="fade"
    data-cycle-pause-on-hover="true"
     data-cycle-timeout="{{ timeout }}"
    {% if speed %} data-cycle-speed="{{ speed }}" {% end %}
    {% if ratio %} data-cycle-auto-height="{{ ratio }}" {% end %}
    data-cycle-prev="#prev"
    data-cycle-next="#next"
    data-cycle-manual-fx="scrollHorz"
    data-cycle-manual-speed="200">
    <div id="prev" class="cycle-prev"></div>
    <div id="next" class="cycle-next"></div>
    <!-- <div class="cycle-overlay"></div> -->
{% foreach files %}
    <img src="/{{ loop_value }}" alt="" {% if loop_index > 0 %}style="display: none"{% end %} />
{% end %}
</div>
<br style="clear: both" />

