#wrapper, #body, #form {
	height: 100%;
}
#wrapper {
	padding-top: 38px !important;
}
#body {
	position: relative;
	width: 1024px;
	margin-left: -32px;
}
form {
	position: absolute;
	display: block;
	left: 0px;
	top: 0px;
}
#name {
	margin-top: 3px;
	margin-bottom: 4px;
}
.autosave-notice {
	position: absolute;
	top: 2px;
	left: 600px;
	z-index: 25;
}
#buttons {
	float: right;
	margin-right: 0px;
}
br.preview {
	display: none;
}
#footer {
	display: none;
}
.CodeMirror {
	border: 1px solid #ccc;
	background: #fff;
}
.CodeMirror-scroll {
	height: 240px;
}