#wrapper, #body, #form {
	height: 100%;
}
#wrapper {
	padding-top: 38px !important;
}
#body {
	position: relative;
	width: 1024px;
	margin-left: -32px;
}
#body h2 {
	position: absolute;
	top: 6px;
	left: 0px;
	font-size: 13px;
}
form {
	display: block;
	position: absolute;
	left: 0px;
	top: 32px;
}
.body {
	margin-top: 7px;
}
.autosave-notice {
	position: absolute;
	top: 2px;
	left: 460px;
	z-index: 25;
}
#buttons {
	position: absolute;
	display: block;
	width: 100%;
	top: 2px;
	left: 0px;
	text-align: right;
	margin-right: 0px;
	margin-top: -34px;
}
form br {
	display: none;
}
#footer {
	display: none;
}
.CodeMirror {
	border: 1px solid #ccc;
	background: #fff;
}
.CodeMirror-scroll {
	height: 240px;
}