<!DOCTYPE html>
<html>
<head>
	<title>Elefant CMS - {{ window_title }}</title>
	<link rel="stylesheet" type="text/css" href="/apps/admin/css/reset.css" />
	<link rel="stylesheet" type="text/css" href="/apps/admin/css/text.css" />
	<link rel="stylesheet" type="text/css" href="/apps/admin/css/960.css" />
	<link rel="stylesheet" type="text/css" href="/apps/admin/css/admin.css" />
	{! admin/head !}
	{{ head|none }}
</head>
<body>
<div id="wrapper" class="container_12">
	<div id="body" class="grid_12">
	{% if title != '' %}<h2>{{ title|none }}</h2>{% end %}
	{{ body|none }}
	</div>
	<div class="clear"></div>
	<div id="footer" class="grid_12">
		<div class="grid_6 alpha">
			&nbsp;
		</div>
		<div class="grid_6 omega copyright">
			Powered by <a href="http://www.elefantcms.com/">Elefant CMS</a>
		</div>
	</div>
	<div class="clear"></div>
</div>
{{ tail|none }}
</body>
</html>