<html>
<head>
	<title>PinkAdmin - Powered by PinkElefant</title>
	<link rel="stylesheet" type="text/css" href="/css/reset.css" />
	<link rel="stylesheet" type="text/css" href="/css/text.css" />
	<link rel="stylesheet" type="text/css" href="/css/960.css" />
	<link rel="stylesheet" type="text/css" href="/css/admin.css" />
</head>
<body>
<div id="wrapper" class="container_12">
	<div id="head" class="grid_12">
		<div class="grid_7 alpha">
			<h1><span class="pink">Pink</span>Admin</h1>
			<span id="slogan">Powered by <a href="http://github.com/jbroadway/elefant"><em>Pink</em>Elefant</a></span>
		</div>
		<div class="grid_5 omega nav">
			<a href="/admin">Home</a>
		</div>
	</div>
	<div class="clear"></div>
	<div id="body" class="grid_12">
	{{ body|none }}
	</div>
	<div class="clear"></div>
	<div id="footer" class="grid_12">
		<div class="grid_6 alpha">
			&nbsp;
		</div>
		<div class="grid_6 omega copyright">
			Powered by <a href="http://github.com/jbroadway/elefant"><em>Pink</em>Elefant</a>
		</div>
	</div>
</div>
</body>
</html>