<!DOCTYPE html>
<html>
<head>
	<title>{{ conf('General', 'site_name') }} - {{ window_title }}</title>
	<link rel="stylesheet" type="text/css" href="/css/reset.css" />
	<link rel="stylesheet" type="text/css" href="/css/text.css" />
	<link rel="stylesheet" type="text/css" href="/css/960.css" />
	<link rel="stylesheet" type="text/css" href="/css/style.css" />
	<script type="text/javascript" src="http://code.jquery.com/jquery-1.5.2.min.js"></script>
	{! admin/head !}
	{{ head|none }}
</head>
<body>
<div id="wrapper" class="container_12">
	<div id="head" class="grid_12">
		<div class="grid_6 alpha">
			<h1>{{ conf('General', 'site_name') }}</h1>
		</div>
		<div class="grid_6 omega menu">
			{! admin/menu !}
		</div>
	</div>
	<div class="clear"></div>
	<div id="body" class="grid_12 index-body">

{! filemanager/slideshow?path=homepage !}

{% if title != '' %}<h2>{{ title }}</h2>{% end %}
{{ body|none }}

	</div>
	<div class="clear"></div>
	<div id="footer" class="grid_12">
		<div class="grid_6 alpha menu">
			{! admin/menu !}
		</div>
		<div class="grid_6 omega powered">
			Powered by <a href="http://www.elefantcms.com/">Elefant</a><br />
			Photos by <a href="http://www.rachaelhosein.com/">Rachael Hosein</a>
		</div>
	</div>
	<div class="clear"></div>
</div>
{{ tail|none }}
</body>
</html>