{! admin/util/dates !}

<p style="float: left">
	<a href="/blog/add">{"New Post"}</a>
	&nbsp;|&nbsp;
	<a href="/blog/import">{"Import Posts"}</a>
</p>

{! navigation/pager?style=numbers&url=[url]&total=[total]&count=[count]&limit=[limit] !}

<p>
<table width="100%">
	<tr>
		<th width="43%">{"Title"}</th>
		<th width="20%">{"Date"}</th>
		<th width="12%">{"Author"}</th>
		<th width="10%">{"Published"}</th>
		<th width="15%">&nbsp;</th>
	</tr>
{% foreach posts %}
	<tr>
		<td><a href="/blog/post/{{ loop_value->id }}/{{ loop_value->title|URLify::filter }}" target="_blank">{{ loop_value->title }}</a></td>
		<td>{{ loop_value->ts|I18n::date_time }}</td>
		<td>{{ loop_value->author }}</td>
		<td>{{ loop_value->published|ucfirst }}</td>
		<td>
			{% if loop_value->locked %}
			{"Editing Locked"}
			{% else %}
			<a href="/blog/edit?id={{ loop_value->id }}">{"Edit"}</a> | <a href="/blog/delete?id={{ loop_value->id }}" onclick="return confirm ('{"Are you sure you want to delete this post?"}');">{"Delete"}</a>
			{% end %}
		</td>
	</tr>
{% end %}
</table>
</p>

{! navigation/pager?style=numbers&url=[url]&total=[total]&count=[count]&limit=[limit] !}
