{! user/util/userchooser !}
{! filemanager/util/browser !}

<div class="form">

<p class="autosave-notice">{"Auto-saved data found for this form."} <a href="#" class="autosave-restore">{"Click here to restore."}</a></p>

<form method="POST" id="edit-form">

<p>{"Title"}:<br /><input type="text" name="title" size="70" value="{{ title|quotes }}" />
<span class="notice" id="title-notice">{"You must enter a title."}</span></p>

<div id="thumbnail-div">
	{"Thumbnail"}:<br />
	<div class="thumbnail-wrapper">
		<div class="thumbnail" id="thumbnail-preview"
		{% if thumbnail !== '' %}
			style="background-image: url({{thumbnail|urlencode}}')"
		{% end %}
		></div>
	</div>
	<input type="hidden" name="thumbnail" id="thumbnail" size="40" value="{{ thumbnail|quotes }}" />
	<input type="submit" id="thumbnail-browse" value="{"Choose"}" />
</div>

<p>{"Author"}:<br /><input type="text" name="author" id="author" size="30" value="{{ author|quotes }}" />
<input type="submit" value="{"Choose"}" id="users" />
<span class="notice" id="author-notice">{"You must enter an author."}</span></p>

<p>{"Date/Time"}:<br /><input type="text" name="ts" id="ts" size="30" value="{{ ts }}" />
<span class="notice" id="ts-notice">{"You must select a date/time."}</span></p>

<p>{"Body"}: <span class="notice" id="body-notice">{"You must enter body content."}</span><br />
<textarea name="body" id="webpage-body" cols="90" rows="28">{{ body }}</textarea></p>

<h4><a href="#" onclick="return webpage_show_extra_options (this)" class="extra-options-link"><span class="arrow arrow-off"></span>{"Extra Options"}</a></h4>
<div id="extra-options">
<p>{"Published"}:
<select name="published">
{% foreach yes_no %}
	<option value="{{ loop_index }}"{% if loop_index == $data->published %} selected{% end %}>{{ loop_value|none }}</option>
{% end %}
</select></p>
<p>{"Tags (comma-separated)"}:
<ul id="tagit" style="width: 580px; padding-top: 0px; margin-top: -16px">
{% foreach tag_list %}
	<li>{{ loop_value }}</li>
{% end %}
</ul>
<input type="hidden" name="tags" id="tags"></p>
<p>{"Auto-post options"}:<br />
<input type="checkbox" name="autopost_pom" id="autopost_pom" value="yes" {% if autopost_tw %}checked{% end %} /> <label for="autopost_pom">Ping-o-matic</label><br />
</p>
</div>

{! admin/util/extended?extends=blog\Post&name=Blog+Posts&values=[extra|none]&id=[id] !}

<p>
	<input type="submit" value="{"Save Blog Post"}" class="autosave-clear" />&nbsp;
	<input type="submit" value="{"Save &amp; Keep Editing"}" id="bgsave" />&nbsp;
	<input type="submit" value="{"Preview"}" onclick="return webpage_preview (this.form)" />&nbsp;
	<a href="/admin/cancel?type=Blog&id={{ id }}&return={{ $_SERVER['HTTP_REFERER']|urlencode }}" onclick="return $.cancel_autosave ('{"Are you sure you want to cancel and lose any changes?"}')">{"Cancel"}</a>&nbsp;
	<span id="bgsave-status"></span>
</p>
</form>

</div>
<div class="clear"></div>

<style>
#edit-form {
	position: relative;
}
#thumbnail-div {
	position: absolute;
	top: 0;
	right: 0;
	width: 150px;
}
.thumbnail-wrapper {
	margin-bottom: 5px;
}
</style>

<script>
$(function () {
	$('#users').click (function () {
		$.userchooser ({
			set_name_value: '#author'
		});
		return false;
	});

	{% if Appconf::blog ('Blog', 'post_format') === 'markdown' %}
	$('.CodeMirror').before (
		'<a href="http://daringfireball.net/projects/markdown/basics" target="_blank" id="markdown-link">' + $.i18n ('Markdown formatting') + '</a>'
	);
	{% end %}

	$('#thumbnail-browse').click (function (e) {
		e.preventDefault ();
		$.filebrowser ({
			allowed: ['jpg', 'jpeg', 'png', 'gif'],
			set_value: '#thumbnail',
			title: "{"Choose an image"}",
			thumbs: true,
			callback: function (file) {
				$('#thumbnail-preview').css ('background-image', 'url(\'' + encodeURI (file) + '\')');
			}
		});
	});
});
</script>
