{! admin/util/dates !}

{% if full %}
<p><a href="/blog">&laquo; {"Back to posts"}</a></p>
{% end %}

<div class="blog-post block">
<h3><a href="{{ url }}">{{ title }}</a></h3>
<p class="blog-info info">{{ ts|I18n::date_time }} - {" by "} <a href="/blog/by/{{ author }}">{{ author }}</a></p>
{{ body|none }}
<div class="blog-tags info">
{"Tags"}: 
{% foreach tag_list %}
<a href="/blog/tag/{{ loop_value|trim|strtolower }}">{{ loop_value|trim|ucfirst }}</a>
{% end %}
</div>
<hr />
<div class="blog-comments">
{{ controller.run ('blog/commentcount', $data)|none }}&nbsp;
{% if social_buttons['facebook'] %}
	{{ controller.run ('social/facebook/like', $data)|none }}
{% end %}
{% if social_buttons['twitter'] %}
	{{ controller.run ('social/twitter/tweet', $data)|none }}
{% end %}
{% if social_buttons['google'] %}
	{{ controller.run ('social/google/plusone', $data)|none }}
{% end %}
</div>
</div>
