<div class="form">

<form method="post" id="{{_form}}">

<p>{"Blog Title"}:<br />
<input type="text" name="title" size="40" value="{{ title|quotes }}" />
<span class="notice" id="title-notice">{"You must enter a blog title."}</span></p>

<p>{"Page layout"}:<br />
<select name="layout">
{% foreach layouts %}
	<option value="{{ loop_value }}"{% if loop_value == $data->layout %} selected{% end %}>{{ loop_value|ucfirst }}</option>
{% end %}
</select></p>

<p>{"Post page layout"}:<br />
<select name="post_layout">
{% foreach layouts %}
	<option value="{{ loop_value }}"{% if loop_value == $data->post_layout %} selected{% end %}>{{ loop_value|ucfirst }}</option>
{% end %}
</select></p>

<p>{"Comments"}:<br />
<select name="comments" id="comments">
	<option value="none"{% if comments === false %} selected{% end %}>{"Off"}</option>
	<option value="facebook"{% if comments === 'facebook' %} selected{% end %}>{"Facebook"}</option>
	<option value="disqus"{% if comments === 'disqus' %} selected{% end %}>{"Disqus"}</option>
</select></p>

<p id="disqus_shortname">{"Disqus shortname"}:<br />
<input type="text" name="disqus_shortname" size="30" value="{{ disqus_shortname|quotes }}" />
</p>

<p>{"Social buttons"}:<br />
<input type="checkbox" name="social_twitter" value="yes"{% if social_twitter %} checked{% end %} /> {"Twitter"}<br />
<input type="checkbox" name="social_facebook" value="yes"{% if social_facebook %} checked{% end %} /> {"Facebook"}<br />
<input type="checkbox" name="social_google" value="yes"{% if social_google %} checked{% end %} /> {"Google"}<br />
</p>

<p><input type="submit" value="{"Save Settings"}" /></p>

</form>

</div>

<script>
$(function () {
	if ($('#comments').val () === 'disqus') {
		$('#disqus_shortname').show ();
	} else {
		$('#disqus_shortname').hide ();
	}

	$('#comments').on ('change', function () {
		if ($('#comments').val () === 'disqus') {
			$('#disqus_shortname').show ();
		} else {
			$('#disqus_shortname').hide ();
		}
	});
});
</script>