.redactor-toolbar {
	background-color: #f5f5f5;
	box-shadow: none;
}

.redactor-toolbar li a {
	height: auto;
}

.redactor-toolbar li a.re-button {
	padding: 6px 8px 6px 8px;
}

#redactor-modal #redactor-modal-body input[type=text] {
	height: 28px !important;
	font-size: 1em !important;
}

.redactor-box {
	border: 0;
	padding: 0;
	margin: 0;
	background: inherit;
	max-width: 100%;
}

.redactor-toolbar {
	border: 0;
	background: inherit;
	box-shadow: none;
	padding: 0;
	margin: 0;
	height: 32px;
	overflow: hidden;
}

.redactor-layer {
	margin-top: 0px !important;
	padding: 0px;
}

.redactor-layer, .redactor-box textarea {
	border: 1px solid #999;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
	height: 500px !important;
	padding: 10px 10px 10px 10px !important;
}

.redactor-layer:focus {
	height: 500px !important;
	padding: 10px 10px 10px 10px !important;
	margin-top: 0px !important;
}

.redactor-toolbar li a,
.redactor-toolbar li a.re-icon {
	padding: 9px;
}

.redactor-toolbar li a:hover,
.redactor-toolbar li a:active,
.redactor-toolbar li a.redactor-act,
.redactor-toolbar li a.re-icon:hover i:before {
	background-color: #ddd;
	color: #111 !important;
}

.redactor-dropdown a:hover {
	background-color: #ddd;
	color: #111 !important;
}

.redactor-layer .embedded {
	background-color: #eee;
	border: 1px solid #ccc;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	background-image: url(/apps/admin/css/admin/dynamic-icon.png);
	background-repeat: no-repeat;
	background-position: 5px 44%;
	padding: 5px 7px 5px 28px;
	white-space: nowrap;
}

.redactor-layer .embedded:hover {
	cursor: pointer;
}

.redactor-layer .embedded:after {
	content: attr(data-label);
}

#redactor-modal-overlay {
	z-index: 100001 !important;
	background: #000;
	opacity: 0.2;
	filter: alpha(opacity=20);
}

#redactor-modal-box {
	z-index: 100002 !important;
}

#redactor-modal {
	z-index: 100002 !important;
	-webkit-box-shadow: 0px 1px 2px 0px rgba(0,0,0,.3);
	-moz-box-shadow: 0px 1px 2px 0px rgba(0,0,0,.3);
	box-shadow: 0px 1px 2px 0px rgba(0,0,0,.3);
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	border-radius: 0;
	width: 550px !important;
	max-width: 100% !important;
}

#redactor-modal-close {
	/*color: #444;
	border: 1px solid #aaa;
	margin: -2px -2px 0px 0px;
	padding: 3px 5px 5px 5px;
	line-height: 10px;
	text-align: center;
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
	font-size: 14px;
	text-transform: lowercase;
	text-decoration: none;
	font-weight: normal;
	height: 10px;
	width: 8px;*/
	top: -3px !important;
	right: 0px !important;
	width: 20px !important;
	height: 20px !important;
}

#redactor-modal-close:hover {
	background-color: #ccc;
	color: #222;
	box-shadow: none !important;
}

#redactor-modal-header, #redactor-modal header {
	background: #eeeeee; /* Old browsers */
	background: -moz-linear-gradient(top,  #eeeeee 0%, #dddddd 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#eeeeee), color-stop(100%,#dddddd)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #eeeeee 0%,#dddddd 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #eeeeee 0%,#dddddd 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #eeeeee 0%,#dddddd 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #eeeeee 0%,#dddddd 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eeeeee', endColorstr='#dddddd',GradientType=0 ); /* IE6-9 */
	border-bottom: 1px solid #aaa;
	border-top: 1px solid #aaa;
	color: #444;
	padding: 5px 10px 5px 10px !important;
	font-size: 16px !important;
	font-weight: normal !important;
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	border-radius: 0;
	border-top-left-radius: 0 !important;
	border-top-right-radius: 0 !important;
}

#redactor-modal-body {
	background: #fafafa;
	border: 1px solid #fafafa;
	border-top: 0px none;
	padding: 0px;
	height: 233px;
	overflow-y: auto;
}

	#redactor-modal-body section {
		padding: 0px 15px 0px 15px;
	}
	
	#redactor-modal #redactor-modal-body label {
		margin-bottom: 0px !important;
	}
	
	#redactor-modal #redactor-modal-body input[type=text],
	#redactor-modal #redactor-modal-body input[type=email],
	#redactor-modal #redactor-modal-body input[type=password],
	#redactor-modal #redactor-modal-body textarea {
		font-size: 12px;
		border: 1px solid #999;
		-webkit-border-radius: 2px;
		-moz-border-radius: 2px;
		border-radius: 2px;
		padding: 2px 4px;
		text-shadow: 0 1px 0 #fff;
		box-shadow: none;
		height: 15px;
		outline: none;
		max-width: 95%;
	}

#redactor-modal .redactor-modal-btn {
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	border-radius: 0;
	text-shadow: none !important;
}

	#redactor-modal footer button.redactor-modal-close-btn:hover {
		color: #333 !important;
	}

	#redactor-modal footer button.redactor-modal-delete-btn:hover {
		color: #fff !important;
	}

	#redactor-modal footer button.redactor-modal-action-btn:hover {
		color: #fff !important;
	}
	
	#redactor-modal select {
		width: auto;
	}

.links-btn {
	display: inline-block;
	padding-right: 8px;
	padding-left: 8px;
	border-left: 1px solid #ccc;
	margin-bottom: 3px;
}

.links-btn:first-child {
	border-left: 0;
	padding-left: 0;
}

.links-btn:hover {
	cursor: pointer;
}

.links-btn.active {
	font-weight: bold;
}

#links-page {
	min-width: 175px;
}

#links-url, #links-email {
	display: none;
}

@media (max-width: 480px) {
	div.redactor-box,
	div.redactor-editor,
	div.redactor-box textarea {
		width: 97% !important;
		max-width: 97% !important;
	}
	
	.redactor-toolbar li a.re-icon.re-deleted,
	.redactor-toolbar li a.re-icon.re-indent,
	.redactor-toolbar li a.re-icon.re-outdent,
	.redactor-toolbar li a.re-icon.re-html {
		display: none;
	}
	
	#redactor-modal select,
	#redactor-modal input[type=checkbox],
	#redactor-modal input[type=radio] {
		width: auto !important;
	}
}
