.redactor-box {
	border: 0;
	padding: 0;
	margin: 0;
	background: inherit;
	max-width: 100%;
}

.redactor-toolbar {
	border: 0;
	background: inherit;
	box-shadow: none;
	padding: 0;
	margin: 0;
	height: 32px;
	overflow: hidden;
}

.redactor-editor {
	margin-top: 0px !important;
	padding: 0;
	max-width: 97%;
}

.redactor-editor, .redactor-box textarea {
	border: 1px solid #999;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
	width: 654px !important;
	height: 418px !important;
	padding: 10px 5px 5px 5px !important;
}

.redactor-editor:focus {
	height: 418px !important;
	padding: 10px 5px 5px 5px !important;
	margin-top: 0px !important;
}

.redactor-toolbar li a,
.redactor-toolbar li a.re-icon {
	padding: 9px;
}

.redactor-toolbar li a:hover,
.redactor-toolbar li a:active,
.redactor-toolbar li a.redactor-act,
.redactor-toolbar li a.re-icon:hover i:before {
	background-color: #ddd;
	color: #111 !important;
}

.redactor-dropdown a:hover {
	background-color: #ddd;
	color: #111 !important;
}

.redactor-editor .embedded {
	background-color: #eee;
	border: 1px solid #ccc;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	background-image: url(/apps/admin/css/admin/dynamic-icon.png);
	background-repeat: no-repeat;
	background-position: 5px 44%;
	padding: 5px 7px 5px 28px;
	white-space: nowrap;
}

.redactor-editor .embedded:hover {
	cursor: pointer;
}

.redactor-editor .embedded:after {
	content: attr(data-label);
}

#redactor-modal-overlay {
	background: #000;
	opacity: 0.2;
	filter: alpha(opacity=20);
}

#redactor-modal {
	-webkit-box-shadow: 0px 1px 2px 0px rgba(0,0,0,.3);
	-moz-box-shadow: 0px 1px 2px 0px rgba(0,0,0,.3);
	box-shadow: 0px 1px 2px 0px rgba(0,0,0,.3);
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	border-radius: 0;
}

#redactor-modal-close {
	color: #444;
	border: 1px solid #aaa;
	margin-top: 3px;
	margin-right: 3px;
	line-height: 18px;
	text-align: center;
}

#redactor-modal-close:hover {
	background-color: #ccc;
	color: #222;
}

#redactor-modal-header, #redactor-modal header {
	background: #eeeeee; /* Old browsers */
	background: -moz-linear-gradient(top,  #eeeeee 0%, #dddddd 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#eeeeee), color-stop(100%,#dddddd)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #eeeeee 0%,#dddddd 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #eeeeee 0%,#dddddd 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #eeeeee 0%,#dddddd 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #eeeeee 0%,#dddddd 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eeeeee', endColorstr='#dddddd',GradientType=0 ); /* IE6-9 */
	border-bottom: 1px solid #aaa;
	border-top: 1px solid #aaa;
	color: #444;
	padding: 5px 10px 5px 10px;
	font-size: 16px;
	font-weight: normal;
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	border-radius: 0;
}

#redactor-modal-inner {
	background: #fafafa;
	border: 1px solid #fafafa;
	border-top: 0px none;
	padding: 0px;
	height: 233px;
	overflow-y: auto;
}

	#redactor-modal-inner section {
		padding: 0px 15px 0px 15px;
	}

.links-btn {
	display: inline-block;
	padding-right: 8px;
	padding-left: 8px;
	border-left: 1px solid #ccc;
	margin-bottom: 3px;
}

.links-btn:first-child {
	border-left: 0;
	padding-left: 0;
}

.links-btn:hover {
	cursor: pointer;
}

.links-btn.active {
	font-weight: bold;
}

#links-page {
	min-width: 175px;
}

#links-url, #links-email {
	display: none;
}

#redactor_modal label {
	margin-bottom: 0px !important;
}

@media (max-width: 480px) {
	.redactor-toolbar li a.re-icon.re-deleted,
	.redactor-toolbar li a.re-icon.re-indent,
	.redactor-toolbar li a.re-icon.re-outdent,
	.redactor-toolbar li a.re-icon.re-html {
		display: none;
	}
}
