<!DOCTYPE html>
<html>
<head>
	<title>Elefant Installer</title>
	<link rel="stylesheet" type="text/css" href="css/style.css" />
</head>
<body>
<div id="wrapper">
	<h1><span>Elefant</span> Installer</h1>
	
	<div id="steps">
		<ul>
			<li class="active">Introduction</li>
			<li>License</li>
			<li>Requirements</li>
			<li>Database</li>
			<li>Settings</li>
			<li>Finished</li>
		</ul>
	</div>

	<div id="body"><div id="content">

		<h3>Welcome to the Elefant CMS installer.</h3>
		
		<p>This installer will guide you
		through the process of installing and configuring your new website.</p>
		
		<p>If you have any trouble during the install process, please visit
		the Elefant project at the following link to report it, and we'll do
		our best to help:</p>
		
		<p><a href="http://github.com/jbroadway/elefant">http://github.com/jbroadway/elefant</a></p>
		
		<p>Click "Next" to continue whenever you're ready. Thanks for using
		Elefant!</p>

	</div></div>
	<a class="next" href="/install/?step=license">Next: License</a>
</div>
</body>
</html>
