<!DOCTYPE html>
<html>
<head>
	<title>Elefant Installer</title>
	<link rel="stylesheet" type="text/css" href="css/style.css" />
</head>
<body>
<div id="wrapper">
	<h1><span>Elefant</span> Installer</h1>
	
	<div id="steps">
		<ul>
			<li>Introduction</li>
			<li>License</li>
			<li class="active">Requirements</li>
			<li>Database</li>
			<li>Settings</li>
			<li>Finished</li>
		</ul>
	</div>

	<div id="body"><div id="content">

<p>...</p>

	</div></div>
	<a class="next" href="/install/?step=database">Next: Database</a>
</div>
</body>
</html>
