<p class="admin-options">
{% if title %}
	{% if locked %}
		<a href="javascript:void(0)" title="{"Editing Locked"}"><img src="/apps/admin/css/admin/lock.png" /></a>
	{% else %}
		{% if new_id %}<a href="/blocks/add?id={{ new_id }}&return={{ $_SERVER.REQUEST_URI }}" title="{"Add Page-Specific Block"}"><img src="/apps/admin/css/admin/add.png" /></a>{% end %}<a href="/blocks/edit?id={{ id }}&return={{ $_SERVER.REQUEST_URI }}" title="{"Edit Block"}"><img src="/apps/admin/css/admin/edit.png" /></a><a href="/admin/versions?type=Block&id={{ id }}" title="{"Versions"}"><img src="/apps/admin/css/admin/versions.png" /></a><a href="/blocks/delete" data-id="{{ id }}" data-return="{{ $_SERVER.REQUEST_URI }}" title="{"Delete Block"}" onclick="return $.confirm_and_post {% if new_id %}(this, '{"Are you sure you want to delete the default block? This will remove it from all pages using this block"}'){% else %} (this, '{"Are you sure you want to delete the current block?"}') {% end %};"><img src="/apps/admin/css/admin/delete.png" /></a>
	{% end %}
{% else %}
	<a href="/blocks/add?id={{ id }}&return={{ $_SERVER.REQUEST_URI }}" title="{"Add Block"}"><img src="/apps/admin/css/admin/add.png" /></a>
{% end %}
</p>
