{! admin/util/fontawesome !}

<p class="admin-options">
{% if title %}
	{% if locked %}
		<a href="javascript:void(0)" title="{"Editing Locked"}" class="ediable-lock"></a>
	{% else %}
		{% if User::require_acl ('admin', 'blocks') %}{% if new_id %}{% if User::require_acl ('admin/add') %}<a href="/blocks/add?id={{ new_id }}&return={{ $_SERVER.REQUEST_URI }}" title="{"Add Page-Specific Block"}" class="editable-add"><i class="fa fa-lg fa-plus"></i></a
			>{% end %}{% end %}<a href="/blocks/edit?id={{ id }}{% if rows %}&column={{ column }}{% end %}&return={{ $_SERVER.REQUEST_URI }}" title="{"Edit Block"}" class="editable-edit"><i class="fa fa-lg fa-pencil"></i></a
			>{% end %}{% if $data->column == 1 && $data->sorting && User::require_acl ('admin', 'blocks') %}<a href="#" title="{"Move Up"}" class="block-move-up"><i class="fa fa-lg fa-chevron-up"></i></a
			><a href="#" title="{"Move Down"}" class="block-move-down"><i class="fa fa-lg fa-chevron-down"></i></a
			><a href="#" title="{"Column Layout"}" class="editable-layout"><i class="fa fa-lg fa-columns"></i></a
			>{% end %}{% if $data->column == 1 && User::require_acl ('admin', 'admin/versions', 'blocks') %}<a href="/admin/versions?type=Block&id={{ id }}" title="{"Versions"}" class="editable-versions"><i class="fa fa-lg fa-files-o"></i></a
			>{% end %}{% if $data->column == 1 && User::require_acl ('admin', 'admin/delete', 'blocks') %}<a href="/blocks/delete" data-id="{{ id }}" data-return="{{ $_SERVER.REQUEST_URI }}" title="{"Delete Block"}" onclick="return $.confirm_and_post {% if new_id %}(this, '{"Are you sure you want to delete the default block? This will remove it from all pages using this block"}'){% else %} (this, '{"Are you sure you want to delete the current block?"}') {% end %};" class="editable-delete"><i class="fa fa-lg fa-trash-o"></i></a>{% end %}
	{% end %}
{% else %}
	{% if User::require_acl ('admin', 'blocks', 'admin/add') %}<a href="/blocks/add?id={{ id }}&return={{ $_SERVER.REQUEST_URI }}" title="{"Add Block"}" class="editable-add"><i class="fa fa-lg fa-plus"></i></a>{% end %}
{% end %}
</p>
