.editable-text,
.editable-textarea,
.editable-select {
	overflow: hidden;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	border: 1px solid rgba(0,0,0,0);
	padding: 2px;
}

.editable-text:hover,
.editable-textarea:hover,
.editable-select:hover {
	border: 1px dashed #cde;
}

.editable input,
.editable textarea,
.editable select {
	font-size: inherit;
	font-weight: inherit;
	border: 0px;
	outline: none;
}
