.modal-overlay {
	display: none;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: #000;
	opacity: 0.2;
	filter: alpha(opacity=20);
}

.modal-dialog {
	display: none;
	position: absolute;
	width: 600px;
	min-height: 400px;
	-webkit-box-shadow: 0px 1px 2px 0px rgba(0,0,0,.3);
	-moz-box-shadow: 0px 1px 2px 0px rgba(0,0,0,.3);
	box-shadow: 0px 1px 2px 0px rgba(0,0,0,.3);
}

.modal-titlebar {
	background: #eeeeee; /* Old browsers */
	background: -moz-linear-gradient(top,  #eeeeee 0%, #dddddd 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#eeeeee), color-stop(100%,#dddddd)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #eeeeee 0%,#dddddd 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #eeeeee 0%,#dddddd 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #eeeeee 0%,#dddddd 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #eeeeee 0%,#dddddd 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eeeeee', endColorstr='#dddddd',GradientType=0 ); /* IE6-9 */
	border-bottom: 1px solid #aaa;
	border-top: 1px solid #aaa;
	color: #444;
	padding: 5px 10px 5px 10px;
	position: relative;
}

.modal-close-wrapper {
	float: right;
	font-size: 14px;
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
	position: static;
	width: 578px;
}

.modal-close-button {
	color: #444;
	text-decoration: none;
	text-transform: lowercase;
	position: absolute;
	right: 7px;
	top: 7px;
	display: block;
	padding: 3px 5px 5px 5px;
	border: 1px solid #aaa;
	line-height: 10px;
}

.modal-close-button:hover {
	background: #ccc;
	color: #222;
	text-decoration: none;
}

.modal-title {
	font-size: 16px;
	font-weight: normal;
}

.modal-content {
	background: #fafafa;
	border: 1px solid #fafafa;
	border-top: 0px none;
	padding: 15px;
	height: 333px;
	overflow-y: auto;
}

@media (max-width: 480px) {
	.modal-dialog {
		max-width: 100%;
	}
	
	.modal-dialog select,
	.modal-dialog input[type=checkbox],
	.modal-dialog input[type=radio] {
		width: auto !important;
	}
}
