body {
	padding-top: 35px;
}

#admin-bar {
	position: absolute;
	top: 0;
	left: 0;
	height: 35px;
	width: 100%;
	z-index: 100000;
	background: #eee;
	background: rgba(240,240,240,.8);
	color: #222;
	position: fixed;
	margin: 0px;
	padding: 0px 10px 0px 10px;
	font-size: 18px !important;
	font-weight: bold;
	font-family: Helvetica, Arial, sans-serif !important;
	text-align: left;

	background: #eeeeee; /* Old browsers */
	background: -moz-linear-gradient(top,  #eeeeee 0%, #dddddd 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#eeeeee), color-stop(100%,#dddddd)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #eeeeee 0%,#dddddd 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #eeeeee 0%,#dddddd 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #eeeeee 0%,#dddddd 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #eeeeee 0%,#dddddd 100%); /* W3C */

	-webkit-box-shadow: 0px 1px 2px rgba(0,0,0,.5);
	-moz-box-shadow: 0px 1px 2px rgba(0,0,0,.5);
	box-shadow: 0px 1px 2px rgba(0,0,0,.5);
}

	#admin-bar img {
		margin-top: 0px;
		border: 0px none;
	}

#admin-links {
	float: right;
	font-size: 12px !important;
	margin-right: 20px;
	/* preload for tooltop-top */
	background: url(/apps/admin/css/admin/tooltip-top.png) no-repeat -999px -999px;
}

	#admin-links>span {
		display: block;
		float: left;
		margin: 0;
		height: 26px;
		padding: 9px 8px 0px 8px;
		font-weight: normal;
		color: #222;
		position: relative;
	}

		#admin-links>span:hover {
			color: #93278f;

			background: #dddddd; /* Old browsers */
			background: -moz-linear-gradient(top,  #dddddd 0%, #cccccc 100%); /* FF3.6+ */
			background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#dddddd), color-stop(100%,#cccccc)); /* Chrome,Safari4+ */
			background: -webkit-linear-gradient(top,  #dddddd 0%,#cccccc 100%); /* Chrome10+,Safari5.1+ */
			background: -o-linear-gradient(top,  #dddddd 0%,#cccccc 100%); /* Opera 11.10+ */
			background: -ms-linear-gradient(top,  #dddddd 0%,#cccccc 100%); /* IE10+ */
			background: linear-gradient(to bottom,  #dddddd 0%,#cccccc 100%); /* W3C */

			text-decoration: none;
		}

		#admin-tools>strong {
			font-weight: normal;
			border: 1px solid #444;
			-webkit-border-radius: 12px;
			-moz-border-radius: 12px;
			border-radius: 12px;
			padding: 0px 3px 0px 3px;
		}

		#admin-tools:hover>strong {
			background: #ccc;
			border: 1px solid #93278f;
		}

	#admin-links a {
		display: block;
		float: left;
		margin: 0;
		height: 26px;
		padding: 9px 8px 0px 8px;
		font-weight: normal;
		color: #222;
		text-decoration: none;
	}

		#admin-links a:hover, #admin-links a:focus {
			color: #93278f;

			background: #dddddd; /* Old browsers */
			background: -moz-linear-gradient(top,  #dddddd 0%, #cccccc 100%); /* FF3.6+ */
			background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#dddddd), color-stop(100%,#cccccc)); /* Chrome,Safari4+ */
			background: -webkit-linear-gradient(top,  #dddddd 0%,#cccccc 100%); /* Chrome10+,Safari5.1+ */
			background: -o-linear-gradient(top,  #dddddd 0%,#cccccc 100%); /* Opera 11.10+ */
			background: -ms-linear-gradient(top,  #dddddd 0%,#cccccc 100%); /* IE10+ */
			background: linear-gradient(to bottom,  #dddddd 0%,#cccccc 100%); /* W3C */

			text-decoration: none;
			outline: 0;
		}

	#admin-tools-list {
		display: none;
		position: absolute;
		left: 0;
		top: 35px;
		margin: 0;
		padding: 0;
		float: left;
		border: 0;
		list-style: none;
		-webkit-box-shadow: 0px 1px 2px rgba(0,0,0,.3);
		-moz-box-shadow: 0px 1px 2px rgba(0,0,0,.3);
		box-shadow: 0px 1px 2px rgba(0,0,0,.3);
	}

	#admin-tools-list li {
		margin: 0;
		padding: 0;
		clear: both;
	}

	#admin-tools-list li a {
		display: block;
		width: 150px;
		text-decoration: none;
		padding: 5px 0 0 5px;
		margin: 0;
		color: #222;
		background: #ddd;
		background: rgba(235,235,235,.95);
		margin-top: 0px;
		border-bottom: 1px solid #ccc;
		z-index: 99990 !important;
	}

		#admin-tools-list li:first-child a {
			margin-top: 2px;
		}

		#admin-tools-list li a.not-installed, #admin-tools-list li a.needs-upgrade {
			color: #fff;
			background: #93278f;
			background: rgba(147,39,143,.95);
		}

		#admin-tools-list li a.not-installed:hover, #admin-tools-list li a.needs-upgrade:hover,
		#admin-tools-list li a.not-installed:focus, #admin-tools-list li a.needs-upgrade:focus {
			color: #fff;
			background: #B347AF;
			background: rgba(147,39,143,.85);
		}

	#admin-tools-list li a:hover, #admin-tools-list li a:focus {
		text-decoration: none;
		background: #ddd;
		background: rgba(220,220,220,.95);
	}

	#admin-tools-list li a:focus {
		color: #93278f;
		outline: 0;
	}

	#admin-update-available {
		color: #93278f;
		font-size: 12px;
		font-weight: normal;
		text-decoration: underline;
		text-align: center;
		display: block;
		width: 200px;
		margin: auto;
		margin-top: -42px;
		z-index: 100001;
	}

	#admin-update-available:hover {
		color: #B347AF;
	}

#preview-bar a,
p.admin-options {
	display: inline-block;
	margin: 0;
	padding: 0;
	border: 1px solid #ccc;
	height: 24px;
}

#preview-bar a,
p.admin-options a {
	display: inline-block;
	position: relative;
	margin: 0;
	padding: 0;
	border: 0;
	width: 26px;
	height: 24px;
	background-color: #f5f5f5;
	background-repeat: no-repeat;
	background-image: url(/apps/admin/css/admin/editable-sprite-dark.png);
}

#preview-bar a {
	background-image: url(/apps/admin/css/admin/editable-sprite-violett.png);
}

#preview-bar a:hover,
.admin-options a:hover {
	background: #f5f5f5;
	background-image: url(/apps/admin/css/admin/editable-sprite-dark.png);
	text-decoration: none !important;
	margin: 0;
	padding: 0;
}

#preview-bar a:hover{
    background-image: url(/apps/admin/css/admin/editable-sprite-violett.png);
}

	.admin-options a.editable-add {
		background-position: 0px 0px;
	}

    #preview-bar a,
    #preview-bar a:hover,
    .admin-options a.editable-edit {
		background-position: -26px 0px;
	}

	.admin-options a.editable-delete {
		background-position: -52px 0px;
	}

	.admin-options a.editable-versions {
		background-position: -78px 0px;
	}

	.admin-options a.editable-lock {
		background-position: -104px 0px;
	}

.admin-tooltip {
	position: absolute;
	z-index: 25;
	display: none;
	top: 25px;
	min-width:100px;
}

	.admin-tooltip-top {
		height: 8px;
		background: url(/apps/admin/css/admin/tooltip-top.png) 5px 0 no-repeat; 
		z-index: 26;
		width:100%;
		position: absolute;
	}

	.admin-tooltip-body {
		padding: 2px 5px 0px 5px;
		font-size: 12px;
		color: #222;
		font-weight: bold;
		background-color: #f5f5f5;
		border: 1px solid #555;		
		text-align: center;
		margin-top:7px;		
		margin-left: -25%;
		width:100%;
	}

	.admin-tooltip-body {
		text-decoration: none !important;
	}

@media screen and (max-width: 480px) {
	#admin-bar {
		-webkit-text-size-adjust: 100%;
	}

	#admin-bar img, #admin-update-available {
		display: none;
	}
}

#admin-links #admin-tools-website,
#preview-bar,
.is-preview #admin-bar,
.is-preview .admin-options,
.is-admin #admin-links .admin-tools-show-preview {
    display: none;
}

.is-admin #admin-links #admin-tools-website {
    display:block;
}

.is-preview #preview-bar {
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    height: 35px;
    width: 100%;
    z-index: 100000;
}

.is-preview #preview-bar a {
    margin: 8px;
    border: 2px solid #93278f;
}

.is-preview #preview-bar a:hover {
	border: 2px solid #666;
	border-right: 0px;
	/*background-color: #ddd;
	background-color: rgba(220,220,220,.95);*/
    background-image: url(/apps/admin/css/admin/editable-sprite-dark.png);
	background-position: -26px 0px;
	position: relative;
}

.is-preview .page, body.is-preview {
    padding-top:0;
}

.is-preview #preview-bar a:hover:after {
	content: attr(data-title);
	position: absolute;
	left: 26px;
	top: -2px;
	min-width: 100px;
	height: 21px;
	padding-top: 3px;
	padding-left: 3px;
	padding-right: 5px;
	background-color: #f5f5f5;
	border: 2px solid #666;
	border-left: 0px;
	color: #222;
	white-space: nowrap;
}

.is-preview .hide-in-preview {
	display: none;
}
