<form method="POST" id="add-form">
<p>Name (ex: <tt>css/<strong>name</strong>.css</tt>):<br /><input type="text" name="name" size="40" value="{{ name }}" />
<span class="notice" id="name-notice">Your name must be alphanumeric and not a duplicate of an existing stylesheet.</span></p>
<p><textarea name="body" id="webpage-body" cols="90" rows="28">{{ body }}</textarea></p>
<p><input type="submit" value="Create Stylesheet" /><span class="notice" id="body-notice">&nbsp; You must enter body content.</span></p>
</form>

<link rel="stylesheet" type="text/css" href="/apps/designer/js/codemirror/lib/codemirror.css" />
<link rel="stylesheet" type="text/css" href="/apps/designer/js/codemirror/theme/default.css" />
<script type="text/javascript" src="/apps/designer/js/codemirror/lib/codemirror.js"></script>
<script type="text/javascript" src="/apps/designer/js/codemirror/mode/css/css.js"></script>
<style>
.CodeMirror {
	border: 1px solid #ccc;
	background: #fff;
}
.CodeMirror-scroll {
	height: 460px;
}
</style>

<script type="text/javascript" src="/js/jquery.verify_values.js"></script>
<script type="text/javascript">
var _codemirror;

$(function () {
	_codemirror = CodeMirror.fromTextArea(
		document.getElementById ('webpage-body'),
		{
			mode: 'text/css',
			theme: 'default',
			indentWithTabs: true,
			lineNumbers: true
		}
	);

	$('#add-form').verify_values ({
		handler: 'designer/addstylesheet',
		callback: function (failed) {
			// highlight the failed elements
			for (var i = 0; i < failed.length; i++) {
				$('#' + failed[i] + '-notice').show ();
			}
		},
		reset: function (fields) {
			for (var i = 0; i < fields.length; i++) {
				$('#' + fields[i] + '-notice').hide ();
			}
		}
	});
	{% foreach failed %}
	$('#{{ loop_value }}-notice').show ();
	{% end %}
});
</script>
