.draggable {
	cursor: move !important;
}

#filemanager-dropzone {
	height: 100%;
	border: 2px dashed #e5e5e5;
	margin: -8px 0px -8px 0px;
	padding: 16px 0px 16px 16px;
}

	#filemanager-dropzone form, #filemanager-dropzone p {
		padding: 0;
		margin: 0;
	}

	#filemanager-dropzone:after {
		font-family: 'FontAwesome';
		content: "\f01b";
		color: #e5e5e5;
		font-size: 48px;
		float: right;
		margin-top: -46px;
		padding-right: 16px;
	}

	#filemanager-dropzone.filemanager-over {
		border: 2px dashed #ccc;
	}

	#filemanager-dropzone.filemanager-over:after {
		font-family: 'FontAwesome';
		content: "\f01b";
		color: #ccc;
		font-size: 48px;
		float: right;
		margin-top: -50px;
		padding-right: 16px;
	}

#filemanager-upload-form {
	display: inline-block;
	width: 450px;
}

#filemanager-upload-progress {
	display: none;
	width: 450px;
	height: 18px;
	border: 1px solid #ddd;
	position: relative;
}

#filemanager-upload-progress-bar {
	display: none;
	position: absolute;
	top: 0;
	left: 0;
	display: inline-block;
	background-color: #ddd;
	height: 18px;
	width: 5%;
	z-index: 0;
}

#filemanager-upload-progress-text {
	display: none;
	position: absolute;
	top: 0;
	left: 2px;
	z-index: 1;
}

.file-img {
	position: relative;
}

.file-img-preview {
	position: absolute;
	top: 20px;
	left: 30px;
	max-width: 200px;
	max-height: 105px;
	border: 1px solid #999;
	background-color: #fefefe;
	z-index: 1000;
}

#avpw_fullscreen_bg {
	z-index: 100001 !important;
}

.avpw_is_fullscreen #avpw_controls {
	z-index: 100002 !important;
}
